Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @vikerman, @CaerusKaru, @FrozenPandaz, @Toxicable

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @vikerman
/modules/common/*                                      @vikerman @CaerusKaru
/modules/express-engine/*                              @vikerman @FrozenPandaz
/modules/hapi-engine/*                                 @vikerman @CaerusKaru
/modules/module-map-ngfactory-loader                   @vikerman @Toxicable @FrozenPandaz

# Tooling
/scripts/**                                        @CaerusKaru @vikerman
/test/**                                           @CaerusKaru @vikerman
/tools/**                                          @CaerusKaru @vikerman

# Misc
/*                                                 @vikerman
/.github/**                                        @vikerman
/modules/*                                         @vikerman

build: remove old build system
  .travis.yml
  build-config.js
  build-test.ts
  build.sh
  build.ts
  modules/aspnetcore-engine/tokens/tsconfig.lib.json
  modules/aspnetcore-engine/tsconfig.lib.json
  modules/common/tsconfig.lib.json
  modules/express-engine/tokens/tsconfig.lib.json
  modules/express-engine/tsconfig.lib.json
  modules/hapi-engine/tokens/tsconfig.lib.json
  modules/hapi-engine/tsconfig.lib.json
  modules/module-map-ngfactory-loader/tsconfig.lib.json
  tools/package-tools/build-bundles.ts
  tools/package-tools/build-config.ts
  tools/package-tools/build-package.ts
  tools/package-tools/build-release.ts
  tools/package-tools/compile-entry-point.ts
  tools/package-tools/copy-files.ts
  tools/package-tools/entry-point-package-json.ts
  tools/package-tools/index.ts
  tools/package-tools/metadata-inlining.ts
  tools/package-tools/metadata-reexport.ts
  tools/package-tools/minify-sources.ts
  tools/package-tools/ngc-compile.ts
  tools/package-tools/packages.ts
  tools/package-tools/rollup-globals.ts
  tools/package-tools/rollup-remove-licenses.ts
  tools/package-tools/secondary-entry-points.ts
  tools/package-tools/sourcemap-remap.ts
  tools/package-tools/typings-reexport.ts
  tools/package-tools/version-placeholders.ts
  tools/tslint-rules/missingRollupGlobalsRule.ts
  tools/tslint-rules/requireLicenseBannerRule.ts
  tools/tslint-rules/tsLoaderRule.js
  tools/tslint-rules/tsconfig.json
  tslint.json
Owners: @vikerman, @MarkPieszak, @CaerusKaru, @FrozenPandaz, @Toxicable

build: add upver:push script
  package.json
Owners: @vikerman

Angular Universal Starter updated to v6
  README.md
Owners: @vikerman

build: complete v6 upgrade
  yarn.lock
Owners: @vikerman

docs: update readme to acknowledge Angular 6
  README.md
Owners: @vikerman

Added caching for POST requests. Fixed bug for caching GET requests with params.
  modules/common/src/transfer_http.ts
Owners: none

Added POST request cache validation
  modules/common/src/transfer_http.ts
Owners: none

Removed POST action replay
  modules/common/src/transfer_http.ts
Owners: none

Added comment about params sorting
  modules/common/src/transfer_http.ts
Owners: none

feat(common): add CommonEngine to encapsulate rendering
  modules/common/BUILD.bazel
  modules/common/private_api.ts
  modules/common/src/common-engine/engine.ts
  modules/common/src/common-engine/file-loader.ts
  modules/common/src/common-engine/index.ts
  modules/common/src/common-engine/interfaces.ts
  modules/common/tokens/BUILD.bazel
  modules/common/tokens/private_api.ts
  modules/common/tokens/public_api.ts
  modules/common/tokens/src/tokens.ts
Owners: @vikerman, @CaerusKaru

chore: remove Travis config
  .travis.yml
Owners: @vikerman

refactor: remove unsed files
  modules/aspnetcore-engine/tokens/public-api.ts
  modules/express-engine/tokens/public-api.ts
  modules/hapi-engine/tokens/public-api.ts
Owners: none

refactor(common): reduce CommonEngine api
  modules/common/src/common-engine/engine.ts
  modules/common/src/common-engine/interfaces.ts
  modules/common/tokens/index.ts
Owners: none

docs: refactor READMEs
  README.md
  UPGRADE-GUIDE.md
  docs/angular2-universal-migration.md
  docs/gotchas.md
  docs/transfer-http.md
  modules/common/README.md
Owners: @vikerman, @CaerusKaru

fixup! docs: refactor READMEs
  README.md
Owners: @vikerman

fixup! docs: refactor READMEs
  README.md
Owners: @vikerman

fixup! docs: refactor READMEs
  README.md
  modules/common/README.md
Owners: @vikerman, @CaerusKaru

fixup! docs: refactor READMEs
  README.md
Owners: @vikerman

fixup! docs: refactor READMEs
  README.md
Owners: @vikerman

fixup! docs: refactor READMEs
  docs/gotchas.md
Owners: none

fixup! test(e2e): add e2e testing
  integration/module-map-ngfactory-loader/e2e/helloworld-spec.ts
  integration/module-map-ngfactory-loader/src/helloworld/app.server.ts
  integration/module-map-ngfactory-loader/src/helloworld/app.ts
  integration/module-map-ngfactory-loader/src/helloworld/hello-world.component.ts
  integration/module-map-ngfactory-loader/src/helloworld/index.html
  integration/module-map-ngfactory-loader/src/helloworld/lazy.module.ts
  integration/module-map-ngfactory-loader/src/server.ts
  integration/run_tests.sh
Owners: none

fixup! test(e2e): add e2e tests
  integration/common/src/helloworld/app.ts
  integration/common/src/helloworld/hello-world.component.ts
  integration/module-map-ngfactory-loader/e2e/helloworld-spec.ts
  integration/module-map-ngfactory-loader/src/helloworld/lazy.module.ts
  integration/module-map-ngfactory-loader/src/server.ts
  package.json
  yarn.lock
Owners: @vikerman

build: upgrade bazel to latest
  .circleci/config.yml
  BUILD.bazel
  WORKSPACE
  modules/common/BUILD.bazel
  package.json
  yarn.lock
Owners: @vikerman, @CaerusKaru

fixup! build: upgrade bazel to latest
  WORKSPACE
Owners: @vikerman

fixup! build: upgrade bazel to latest
  .circleci/config.yml
Owners: none

fixup! build: upgrade bazel to latest
  WORKSPACE
Owners: @vikerman

fix(common): remove internal monicker for FileLoader
  modules/common/src/common-engine/file-loader.ts
Owners: none

refactor(common): move CommonEngine into its own entry point
  modules/common/engine/BUILD.bazel
  modules/common/engine/index.ts
  modules/common/engine/private_api.ts
  modules/common/engine/public_api.ts
  modules/common/engine/src/engine.ts
  modules/common/engine/src/file-loader.ts
  modules/common/engine/src/index.ts
  modules/common/engine/src/interfaces.ts
Owners: none

fixup! refactor(common): move CommonEngine into its own entry point
  modules/common/BUILD.bazel
Owners: @vikerman, @CaerusKaru

fixup! refactor(common): move CommonEngine into its own entry point
  modules/common/BUILD.bazel
Owners: @vikerman, @CaerusKaru

refactor: clean up BUILD files imports/exports
  modules/aspnetcore-engine/BUILD.bazel
  modules/aspnetcore-engine/tokens/BUILD.bazel
  modules/common/BUILD.bazel
  modules/common/tokens/BUILD.bazel
  modules/express-engine/BUILD.bazel
  modules/hapi-engine/BUILD.bazel
  modules/hapi-engine/tokens/BUILD.bazel
  modules/module-map-ngfactory-loader/BUILD.bazel
Owners: @MarkPieszak, @vikerman, @CaerusKaru, @FrozenPandaz, @Toxicable

fixup! test(e2e): add e2e testing
  integration/module-map-ngfactory-loader/e2e/helloworld-spec.ts
  integration/module-map-ngfactory-loader/src/helloworld/app.server.ts
  integration/module-map-ngfactory-loader/src/helloworld/app.ts
  integration/module-map-ngfactory-loader/src/helloworld/hello-world.component.ts
  integration/module-map-ngfactory-loader/src/helloworld/index.html
  integration/module-map-ngfactory-loader/src/helloworld/lazy.module.ts
  integration/module-map-ngfactory-loader/src/server.ts
  integration/run_tests.sh
Owners: none

fixup! refactor: clean up BUILD files imports/exports
  modules/aspnetcore-engine/BUILD.bazel
  modules/aspnetcore-engine/tokens/BUILD.bazel
  modules/common/BUILD.bazel
  modules/common/tokens/BUILD.bazel
  modules/express-engine/BUILD.bazel
  modules/hapi-engine/BUILD.bazel
  modules/hapi-engine/tokens/BUILD.bazel
  modules/module-map-ngfactory-loader/BUILD.bazel
Owners: @MarkPieszak, @vikerman, @CaerusKaru, @FrozenPandaz, @Toxicable

feat(common): TransferHttpCache now respects url params
  modules/common/engine/private_api.ts
  modules/common/spec/transfer_http.spec.ts
  modules/common/src/transfer_http.ts
Owners: none

fixup! test(e2e): add e2e tests
  WORKSPACE
  integration/common/src/helloworld/app.ts
  integration/common/src/helloworld/hello-world.component.ts
  integration/module-map-ngfactory-loader/build.sh
  integration/module-map-ngfactory-loader/e2e/helloworld-spec.ts
  integration/module-map-ngfactory-loader/src/helloworld/lazy.module.ts
  integration/module-map-ngfactory-loader/src/server.ts
  package.json
  yarn.lock
Owners: @vikerman

fixup! feat(common): TransferHttpCache now respects url params
  modules/common/private_api.ts
Owners: @vikerman, @CaerusKaru

fixup! feat(common): TransferHttpCache now respects url params
  modules/common/src/transfer_http.ts
Owners: none

chore: introduce GitHub Issue and Pull Request templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATES/Bug.md
  .github/ISSUE_TEMPLATES/Feature_Request.md
  .github/ISSUE_TEMPLATES/Proposal.md
  .github/PULL_REQUEST_TEMPLATES/Improvement.md
  .github/PULL_REQUEST_TEMPLATES/New_Feature.md
Owners: @vikerman

chore: fix up maths for Github templates
  .github/ISSUE_TEMPLATE/Bug.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/Proposal.md
  .github/PULL_REQUEST_TEMPLATE/Improvement.md
  .github/PULL_REQUEST_TEMPLATE/New_Feature.md
Owners: @vikerman

fix(common): fixup secondary entrypoints
  modules/common/engine/BUILD.bazel
  modules/common/tokens/BUILD.bazel
Owners: none
