Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @dgp1130, @alan-agius4, @CaerusKaru, @FrozenPandaz

docs: Replace Keen with Doug as Angular Core API contact
  README.md
Owners: @dgp1130

build: update angular
  package.json
  yarn.lock
Owners: @dgp1130

build: update bazel to v3.8.0
  WORKSPACE
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency jsdom to v17
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru

ci: configure renovate to manage GitHub workflow updates
  renovate.json
Owners: @dgp1130

build: update angular/dev-infra commit hash to 861dc90
  .github/workflows/lock-closed.yml
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

fix: remove the toPromise()
  modules/common/src/transfer_http.ts
Owners: none

Revert "refactor(@nguniversal/common): remove redundant `toPromise()`"
  modules/common/src/transfer_http.ts
Owners: none

build: update dependency ts-node to v10.2.1
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/hapi-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130

test(@nguniversal/common): fix lint issues
  modules/common/src/transfer_http.ts
Owners: none

build: update angular
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency jasmine-core to v3.9.0
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/hapi-engine-ivy/package.json
Owners: @CaerusKaru, @dgp1130

build: update `@angular/dev-infra-private` paths
  .ng-dev/commit-message.ts
  .ng-dev/format.ts
  .ng-dev/github.ts
  .ng-dev/merge.ts
  .ng-dev/release.ts
Owners: none

build: update master to `13.0.0-next.0`
  package.json
Owners: @dgp1130

build: update release notes to be generated using ng-dev
  .ng-dev/config.ts
  .ng-dev/release.ts
  CHANGELOG.md
  docs/process/release.md
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency ora to v6
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130

build: update bazel to v4
  WORKSPACE
  package.json
  yarn.lock
Owners: @dgp1130

build: add Bazel ts_library rule package_name properties to all packages
  modules/aspnetcore-engine/BUILD.bazel
  modules/builders/BUILD.bazel
  modules/common/BUILD.bazel
  modules/express-engine/BUILD.bazel
  modules/hapi-engine/BUILD.bazel
  modules/socket-engine/BUILD.bazel
Owners: @MarkPieszak, @dgp1130, @alan-agius4, @CaerusKaru, @FrozenPandaz

build: update angular
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency jest-worker to v27.1.0
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update dependency node-fetch to v3
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @dgp1130
/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru
/modules/express-engine/*                              @dgp1130 @FrozenPandaz
/modules/hapi-engine/*                                 @dgp1130 @CaerusKaru

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130
/integration/**                                    @CaerusKaru @dgp1130
/tools/**                                          @CaerusKaru @dgp1130

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130
