Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130

build: update minimum supported Node version from 16.13.0 -> 16.14.0
  .circleci/config.yml
  WORKSPACE
  modules/builders/package.json
  modules/common/package.json
  modules/express-engine/package.json
  package.json
Owners: @dgp1130, @alan-agius4, @CaerusKaru

refactor(@nguniversal/common): remove usage of `BrowserTransferStateModule`
  docs/transfer-http.md
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.module.ts
Owners: none

build: update all non-major dependencies
  integration/express-engine-csp-nonce/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

refactor(@nguniversal/common): remove usage of `BrowserTransferStateModule`
  docs/transfer-http.md
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.module.ts
Owners: none

build: update all non-major dependencies
  integration/express-engine-csp-nonce/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/builders): add support to serve service workers
  modules/builders/src/ssr-dev-server/index.spec.ts
  modules/builders/src/ssr-dev-server/index.ts
Owners: @alan-agius4

build: update to bazel version 5
  .bazelversion
Owners: @dgp1130

build: build packages in APF version 16 format
  .bazelversion
  WORKSPACE
  modules/bazel-tsconfig-build.json
  package.json
  tools/defaults.bzl
  tools/postinstall/patches/@angular+bazel+16.0.0-next.6.patch
  tools/postinstall/patches/@bazel+concatjs+5.8.1.patch
  tsconfig.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: build packages in APF version 16 format
  .bazelversion
  WORKSPACE
  modules/bazel-tsconfig-build.json
  package.json
  tools/defaults.bzl
  tools/postinstall/patches/@angular+bazel+16.0.0-next.6.patch
  tools/postinstall/patches/@bazel+concatjs+5.8.1.patch
  tsconfig.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/builders): add support to serve service workers
  modules/builders/src/ssr-dev-server/index.spec.ts
  modules/builders/src/ssr-dev-server/index.ts
Owners: @alan-agius4

fix(@nguniversal/builders): add support to serve service workers
  modules/builders/src/ssr-dev-server/index.spec.ts
  modules/builders/src/ssr-dev-server/index.ts
Owners: @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/common): update TransferHttpResponse requiring body and headers
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.interceptor.ts
  modules/common/src/transfer_http.ts
Owners: none

refactor(@nguniversal/common): simplify `TransferHttpCacheInterceptor` intercept logic
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.interceptor.ts
Owners: none

refactor(@nguniversal/common): simplify `TransferHttpCacheInterceptor` intercept logic
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.interceptor.ts
Owners: none

build: update dependency typescript to v5.0.4
  package.json
  yarn.lock
Owners: @dgp1130

release: cut the v15.2.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v15.2.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v15.2.1 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v16.0.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.0.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v16.0.0-rc.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update actions/checkout action to v3.5.2
  .github/workflows/dev-infra.yml
Owners: @dgp1130

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

fix(@nguniversal/express-engine): export default bootstrap in server template for standalone
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: none

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update actions/checkout action to v3.5.2
  .github/workflows/dev-infra.yml
Owners: @dgp1130

build: update dependency typescript to v5.0.4
  package.json
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/express-engine): export default bootstrap in server template for standalone
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: none

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

release: cut the v16.0.0-rc.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.0.0-rc.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v16.0.0-rc.1 release
  CHANGELOG.md
Owners: @dgp1130

build: update dependency rxjs to v7
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130

build: update dependency rxjs to v7
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130
