Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @kyliau, @alan-agius4, @CaerusKaru, @FrozenPandaz, @Toxicable

build: update protractor to version 7.0.0
  package.json
  yarn.lock
Owners: @kyliau

build: update tslib to version ~2.0.0
  package.json
  yarn.lock
Owners: @kyliau

feat: remove engine restriction of >=10.13.0 <13.0.0
  modules/aspnetcore-engine/package.json
  modules/common/package.json
  modules/express-engine/package.json
  modules/hapi-engine/package.json
  modules/module-map-ngfactory-loader/package.json
  modules/socket-engine/package.json
  package.json
Owners: @MarkPieszak, @kyliau, @CaerusKaru, @FrozenPandaz, @Toxicable

build: add debug config for bazel test targets
  .bazelrc
Owners: @kyliau

build: update angular-in-memory-web-api to version ^0.11.0
  integration/express-engine-ivy-prerender/package.json
Owners: @CaerusKaru, @kyliau

build: update to TypeScript 3.9
  package.json
  yarn.lock
Owners: @kyliau

refactor: update to tslib 2.0 and move to direct dependencies
  modules/aspnetcore-engine/package.json
  modules/common/package.json
  modules/express-engine/package.json
  modules/hapi-engine/package.json
  modules/module-map-ngfactory-loader/package.json
  modules/socket-engine/package.json
  tools/defaults.bzl
Owners: @MarkPieszak, @kyliau, @CaerusKaru, @FrozenPandaz, @Toxicable

refactor: remove unused schematics units from hapi-engine
  modules/hapi-engine/schematics/install/utils.ts
Owners: none

build: remove unused bazel macros
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

refactor: update prerender utils to work with TS 3.9
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/utils.spec.ts
  modules/builders/src/prerender/utils.ts
Owners: @alan-agius4

build: update angula packages to version 10 rc0
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

ci: update to node 12.9
  .circleci/config.yml
Owners: none

build: update puppeteer to version ~3.1.0
  package.json
  yarn.lock
Owners: @kyliau

ci: update chrome driver to 83.0.4103.0
  .circleci/config.yml
Owners: none

build: update @bazel/hide-bazel-files to version ~1.7.0
  WORKSPACE
  package.json
  yarn.lock
Owners: @kyliau

build: update karma-coverage-istanbul-reporter to version 3.0.3
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update puppeteer to version ~3.2.0
  package.json
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.11.0
  package.json
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.12.0
  package.json
  yarn.lock
Owners: @kyliau

build: update karma-jasmine to version 3.3.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update karma to version 5.0.9
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update ts-node to version 8.10.2
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

build: update @types/fs-extra to version ^9.0.0
  package.json
  yarn.lock
Owners: @kyliau

build: update puppeteer to version ~3.3.0
  package.json
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.13.0
  package.json
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.15.0
  package.json
  yarn.lock
Owners: @kyliau

build: use @bazel/bazelisk rather than @bazel/bazel
  package.json
  yarn.lock
Owners: @kyliau

fix(express-engine): make server.ts compliant with typedef tslint rule
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: none

fix(hapi-engine): make server.ts compliant with typedef tslint rule
  modules/hapi-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: none

fix(express-engine): use response in request object if not provided
  modules/express-engine/spec/index.spec.ts
  modules/express-engine/src/main.ts
  modules/express-engine/testing/mock.server.module.ts
Owners: none

build: update karma to version 5.1.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

docs: remove redundant sections and broken link
  README.md
Owners: @kyliau

build: update rollup to version ~2.16.0
  package.json
  yarn.lock
Owners: @kyliau

build: remove dev dependency on @types/express-serve-static-core
  modules/express-engine/tokens/BUILD.bazel
  modules/express-engine/tokens/injection-tokens.ts
  package.json
  yarn.lock
Owners: @kyliau

build: update puppeteer to version ~4.0.0
  package.json
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.17.0
  package.json
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.18.0
  package.json
  yarn.lock
Owners: @kyliau

build: update @hapi/hapi to version ^19.0.0
  package.json
  yarn.lock
Owners: @kyliau

tests: update tests to work with version 10
  modules/common/schematics/add/index.spec.ts
  modules/express-engine/schematics/install/index.spec.ts
  modules/express-engine/schematics/migrations/update-9/index.spec.ts
  modules/hapi-engine/schematics/install/index.spec.ts
  modules/hapi-engine/schematics/migrations/update-9/index.spec.ts
Owners: none

fix(express-engine): fix return type for app method
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: none

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @kyliau
/modules/builders                                      @alan-agius4
/modules/common/*                                      @kyliau @CaerusKaru
/modules/express-engine/*                              @kyliau @FrozenPandaz
/modules/hapi-engine/*                                 @kyliau @CaerusKaru
/modules/module-map-ngfactory-loader                   @kyliau @Toxicable @FrozenPandaz

# Tooling
/scripts/**                                        @CaerusKaru @kyliau
/integration/**                                    @CaerusKaru @kyliau
/tools/**                                          @CaerusKaru @kyliau

# Misc
/*                                                 @kyliau
/.github/**                                        @kyliau
/modules/*                                         @kyliau
