Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130

build: update dependency critters to v0.0.19
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update dependency critters to v0.0.19
  modules/builders/src/prerender/index.spec.ts
  modules/common/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130, @CaerusKaru

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update dependency critters to v0.0.19
  modules/builders/src/prerender/index.spec.ts
  modules/common/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130, @CaerusKaru

build: update dependency piscina to v4
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

release: cut the v16.1.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.1.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v16.1.1 release
  CHANGELOG.md
Owners: @dgp1130

build: update dependency typescript to v5.1.6
  package.json
  yarn.lock
Owners: @dgp1130

docs: update the http tag with https in readme file
  README.md
  integration/express-engine-ivy-hybrid/README.md
  integration/express-engine-ivy/README.md
  integration/express-engine-standalone/README.md
Owners: @dgp1130, @CaerusKaru, @alan-agius4

docs: update the http tag with https in readme file
  README.md
  integration/express-engine-ivy-hybrid/README.md
  integration/express-engine-ivy/README.md
  integration/express-engine-standalone/README.md
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update dependency @typescript-eslint/parser to v6
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.21.0
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update dependency eslint to v8.45.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency eslint to v8.45.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.21.0
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update dependency @typescript-eslint/parser to v6
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency typescript to v5.1.6
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.21.2
  .github/workflows/scorecard.yml
Owners: @dgp1130

docs: update the http tag with https in contributing file
  CONTRIBUTING.md
Owners: @dgp1130

docs: remove unused methods from lazy component
  integration/clover/src/app/lazy/lazy.component.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

ci: migrate to using GHA
  .circleci/bazel.rc
  .github/workflows/ci.yml
Owners: @dgp1130

build: update dependency critters to v0.0.20
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update critters
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update critters
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update critters
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update critters
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

release: cut the v16.1.2 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.1.2 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v16.1.2 release
  CHANGELOG.md
Owners: @dgp1130

docs: release notes for the v16.1.2 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v16.2.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.2.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: bump the next branch to v16.3.0-next.0
  package.json
Owners: @dgp1130
