Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @vikerman, @alan-agius4, @CaerusKaru, @FrozenPandaz, @Toxicable

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @vikerman
/modules/builders                                      @alan-agius4
/modules/common/*                                      @vikerman @CaerusKaru
/modules/express-engine/*                              @vikerman @FrozenPandaz
/modules/hapi-engine/*                                 @vikerman @CaerusKaru
/modules/module-map-ngfactory-loader                   @vikerman @Toxicable @FrozenPandaz

# Tooling
/scripts/**                                        @CaerusKaru @vikerman
/integration/**                                    @CaerusKaru @vikerman
/tools/**                                          @CaerusKaru @vikerman

# Misc
/*                                                 @vikerman
/.github/**                                        @vikerman
/modules/*                                         @vikerman

build: update @types/express to version 4.17.2
  package.json
  yarn.lock
Owners: @vikerman

refactor(builders): improve error message when no routes have been found
  modules/builders/src/prerender/index.spec.ts
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/render.ts
Owners: @alan-agius4

build: update rollup to version ~1.28.0
  package.json
  yarn.lock
Owners: @vikerman

test: refactor to use npm cli packages from workspace
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @vikerman

build: update to version
  yarn.lock
Owners: @vikerman

build: update karma-jasmine to version 3.0.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @vikerman

docs: update issue templates
  .github/ISSUE_TEMPLATE/Bug.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
Owners: @vikerman

build: update rollup to version ~1.29.0
  package.json
  yarn.lock
Owners: @vikerman

build: update karma-jasmine to version 3.0.3
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @vikerman

build: update karma-jasmine to version 3.1.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @vikerman

build: update to version
  yarn.lock
Owners: @vikerman

build: update ts-node to version 8.6.2
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @vikerman

fix(express-engine): schematics compatible with IIS Node and Azure App service
  integration/express-engine-ivy-prerender/server.ts
  integration/express-engine-ivy/server.ts
  integration/express-engine-ve/server.ts
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: @CaerusKaru, @vikerman

fix(hapi-engine): schematics compatible with IIS Node and Azure App service
  integration/hapi-engine-ivy/server.ts
  integration/hapi-engine-ve/server.ts
  modules/hapi-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: @CaerusKaru, @vikerman

build: update @types/hapi__hapi to version ^19.0.0
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @vikerman

build: update @bazel/hide-bazel-files to version ^1.0.0
  WORKSPACE
  package.json
  yarn.lock
Owners: @vikerman

build: update to TypeScript 3.7
  package.json
  yarn.lock
Owners: @vikerman

test: fix `initialNavigation` test on windows
  modules/common/schematics/add/index.spec.ts
Owners: none

test: add `skipLibCheck` to hapi integration due to
  integration/hapi-engine-ivy/tsconfig.json
  integration/hapi-engine-ve/tsconfig.json
Owners: @CaerusKaru, @vikerman

build: update to TypeScript 3.7
  yarn.lock
Owners: @vikerman

test: fix `initialNavigation` test on windows
  modules/common/schematics/add/index.spec.ts
Owners: none

build: update to version
  package.json
  yarn.lock
Owners: @vikerman

fix: update `@types/hapi__hapi` as they are incompatible with `@hapi/inert`
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  modules/hapi-engine/schematics/install/index.ts
  package.json
  yarn.lock
Owners: @CaerusKaru, @vikerman
