Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130

build: update to @angular/ng-dev package
  .ng-dev/commit-message.mts
  .ng-dev/format.mts
  .ng-dev/github.mts
  .ng-dev/pull-request.mts
  .ng-dev/release.mts
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  WORKSPACE
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

feat(@nguniversal/builders): add sourcemap mapping support for dev-server
  modules/builders/src/ssr-dev-server/index.ts
Owners: @alan-agius4

build: update dependency @rollup/plugin-commonjs to v23
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency @rollup/plugin-node-resolve to v14
  package.json
  yarn.lock
Owners: @dgp1130

build: update to Angular 15
  .circleci/config.yml
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

feat(@nguniversal/common): add support for Node.js version 18
  modules/builders/package.json
  modules/common/package.json
  modules/express-engine/package.json
Owners: @alan-agius4, @dgp1130, @CaerusKaru

refactor(@nguniversal/express-engine): remove deprecated appDir option
  modules/express-engine/schematics/install/schema.json
  modules/express-engine/schematics/install/schema.ts
Owners: none

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update repo node versions
  package.json
Owners: @dgp1130

ci: update to node 14.20
  .circleci/config.yml
  WORKSPACE
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency rollup to v3
  package.json
  yarn.lock
Owners: @dgp1130

feat(@nguniversal/builders): add `ng-server-context` for SSG pages
  integration/express-engine-ivy-hybrid/e2e/src/util.ts
  modules/builders/BUILD.bazel
  modules/builders/src/prerender/index.spec.ts
  modules/builders/src/prerender/worker.ts
  modules/builders/testing/hello-world-app/src/main.server.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

feat(@nguniversal/common): add `ng-server-context` for SSR pages
  modules/common/engine/src/engine.ts
Owners: none

build: regenerate lock file
  yarn.lock
Owners: @dgp1130

test: update test to remove duplicate `renderModule`
  integration/common-engine/src/main.server.ts
  integration/express-engine-ivy-hybrid/src/main.server.ts
  integration/express-engine-ivy/src/main.server.ts
  modules/builders/src/prerender/index.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: remove `"--bazel_patch_module_resolver"` from `jasmine_node_test`
  tools/defaults.bzl
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: run integration tests with bazel
  .bazelignore
  .circleci/config.yml
  .gitignore
  BUILD.bazel
  WORKSPACE
  integration/clover/BUILD.bazel
  integration/clover/test.sh
  integration/common-engine/BUILD.bazel
  integration/common-engine/e2e/protractor.conf.js
  integration/common-engine/test.sh
  integration/express-engine-ivy-hybrid/BUILD.bazel
  integration/express-engine-ivy-hybrid/e2e/protractor.conf.js
  integration/express-engine-ivy-hybrid/test.sh
  integration/express-engine-ivy/BUILD.bazel
  integration/express-engine-ivy/e2e/protractor.conf.js
  integration/express-engine-ivy/test.sh
  modules/builders/BUILD.bazel
  modules/common/BUILD.bazel
  modules/express-engine/BUILD.bazel
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build(@nguniversal/builders): update browser-sync to remove engine.io security issues
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency rollup to ~3.1.0
  package.json
  yarn.lock
Owners: @dgp1130

Removing ServerTransferStateModule as is deprecated
  docs/transfer-http.md
Owners: none

changing docs
  docs/transfer-http.md
Owners: none

release: cut the v15.0.0-next.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update dependency puppeteer to v18
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency rxjs to v7
  package.json
  yarn.lock
Owners: @dgp1130

ci: remove integration tests from seperate step
  .circleci/config.yml
Owners: none

build: replace `@angular/dev-infra-private` with `@angular/ng-dev`
  .ng-dev/commit-message.mts
  .ng-dev/format.mts
  .ng-dev/github.mts
  .ng-dev/pull-request.mts
  .ng-dev/release.mts
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular to 1bbdc56
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: delete un-needed dependencies
  integration/clover/angular.json
  integration/common-engine/angular.json
  integration/common-engine/e2e/protractor.conf.js
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/e2e/protractor.conf.js
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/angular.json
  integration/express-engine-ivy/e2e/protractor.conf.js
  integration/express-engine-ivy/package.json
  modules/builders/testing/hello-world-app/angular.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

fix(@nguniversal/builders): import `zone.js` in worker during prerendering
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/worker.ts
  modules/builders/testing/hello-world-app/src/main.server.ts
Owners: @alan-agius4

docs: update transfer-http docs
  docs/transfer-http.md
Owners: none

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependencies in `@nguniversal/builders`
  modules/builders/package.json
Owners: @alan-agius4

build: lock file maintenance
  yarn.lock
Owners: @dgp1130
