Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @vikerman, @CaerusKaru, @FrozenPandaz, @Toxicable

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @vikerman
/modules/common/*                                      @vikerman @CaerusKaru
/modules/express-engine/*                              @vikerman @FrozenPandaz
/modules/hapi-engine/*                                 @vikerman @CaerusKaru
/modules/module-map-ngfactory-loader                   @vikerman @Toxicable @FrozenPandaz

# Tooling
/scripts/**                                        @CaerusKaru @vikerman
/test/**                                           @CaerusKaru @vikerman
/tools/**                                          @CaerusKaru @vikerman

# Misc
/*                                                 @vikerman
/.github/**                                        @vikerman
/modules/*                                         @vikerman

feat(common): introduce ls-routes
  angular.tsconfig.json
  modules/common/BUILD.bazel
  modules/common/ls-routes/BUILD.bazel
  modules/common/ls-routes/index.ts
  modules/common/ls-routes/public_api.ts
  modules/common/ls-routes/spec/ls-routes.spec.ts
  modules/common/ls-routes/src/ls-routes.ts
  modules/common/package.json
  package.json
  yarn.lock
Owners: @vikerman, @CaerusKaru

fixup! feat(common): introduce ls-routes
  modules/common/engine/index.ts
  modules/common/ls-routes/BUILD.bazel
  modules/common/ls-routes/spec/ls-routes.spec.ts
  modules/common/ls-routes/src/ls-routes.ts
Owners: none

fixup! feat(common): introduce ls-routes
  modules/common/ls-routes/BUILD.bazel
Owners: none

fixup! test(e2e): add e2e testing
  yarn.lock
Owners: @vikerman

fixup! test(e2e): add e2e testing
  yarn.lock
Owners: @vikerman

fixup! test(e2e): add e2e testing
  WORKSPACE
Owners: @vikerman

fixup! test(e2e): add e2e testing
  .circleci/config.yml
Owners: none

fixup! test(e2e): add e2e testing
  package.json
Owners: @vikerman

fixup! test(e2e): add e2e testing
  integration/common/package.json
  integration/express-engine/package.json
  integration/hapi-engine/package.json
  integration/module-map-ngfactory-loader/package.json
Owners: none

fixup! test(e2e): add e2e testing
  integration/common/e2e/helloworld-spec.ts
  integration/express-engine/e2e/helloworld-spec.ts
  integration/hapi-engine/e2e/helloworld-spec.ts
  integration/module-map-ngfactory-loader/e2e/helloworld-spec.ts
Owners: none
