Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130

docs: release notes for the v16.2.0-rc.0 release
  CHANGELOG.md
Owners: @dgp1130

release: bump the next branch to v16.3.0-next.0
  package.json
Owners: @dgp1130

docs: release notes for the v16.2.0-rc.0 release
  CHANGELOG.md
Owners: @dgp1130

refactor: update changelog link for Critters version bump
  CHANGELOG.md
Owners: @dgp1130

refactor: update changelog link for Critters version bump
  CHANGELOG.md
Owners: @dgp1130

refactor: update changelog link for Critters version bump
  CHANGELOG.md
Owners: @dgp1130

refactor: update changelog link for Critters version bump
  CHANGELOG.md
Owners: @dgp1130

refactor: update changelog link for Critters version bump
  CHANGELOG.md
Owners: @dgp1130

refactor: update changelog link for Critters version bump
  CHANGELOG.md
Owners: @dgp1130

release: switch the next branch to v17.0.0-next.0
  package.json
Owners: @dgp1130

refactor: update changelog link for Critters version bump
  CHANGELOG.md
Owners: @dgp1130

refactor: update changelog link for Critters version bump
  CHANGELOG.md
Owners: @dgp1130

release: switch the next branch to v17.0.0-next.0
  package.json
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.21.2
  .github/workflows/scorecard.yml
Owners: @dgp1130

docs: update the http tag with https in contributing file
  CONTRIBUTING.md
Owners: @dgp1130

build: update all non-major dependencies
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130

build: update all non-major dependencies
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency eslint-config-prettier to v9
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency ora to v7
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130

build: update dependency patch-package to v8
  package.json
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/common): check for server context when doing hybrid rendering
  modules/common/engine/src/engine.ts
Owners: none

build: update dependency eslint-config-prettier to v9
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency prettier to v3
  package.json
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/common): check for server context when doing hybrid rendering
  modules/common/engine/src/engine.ts
Owners: none

fix(@nguniversal/common): check for server context when doing hybrid rendering
  modules/common/engine/src/engine.ts
Owners: none

fix(@nguniversal/common): check for server context when doing hybrid rendering
  modules/common/engine/src/engine.ts
Owners: none

release: cut the v16.1.3 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.1.3 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v16.1.3 release
  CHANGELOG.md
Owners: @dgp1130

docs: release notes for the v16.1.3 release
  CHANGELOG.md
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @alan-agius4

build: update dependency esbuild to ^0.19.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @alan-agius4

release: cut the v16.2.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.2.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130
