Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

docs: release notes for the v16.2.0 release
  CHANGELOG.md
Owners: @dgp1130

docs: release notes for the v16.2.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update bazel
  WORKSPACE
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/common): error during critical CSS inlining for external stylesheets
  modules/common/tools/src/inline-css-processor.ts
Owners: none

fix(@nguniversal/common): error during critical CSS inlining for external stylesheets
  modules/common/tools/src/inline-css-processor.ts
Owners: none

fix(@nguniversal/common): error during critical CSS inlining for external stylesheets
  modules/common/tools/src/inline-css-processor.ts
Owners: none

docs: removed unused ngOnInit and constructor from lazy module
  integration/clover/src/app/lazy/lazy.component.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-csp-nonce/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-standalone/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update dependency @typescript-eslint/eslint-plugin to v6
  package.json
  yarn.lock
Owners: @dgp1130

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

docs: remove unused methods
  integration/express-engine-ivy-hybrid/src/app/homepage.component.ts
  modules/builders/testing/hello-world-app/src/app/foo-bar/foo-bar.component.ts
  modules/builders/testing/hello-world-app/src/app/foo/foo.component.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

docs: document migration of universal repo
  .github/ISSUE_TEMPLATE/Bug.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/Proposal.md
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Owners: @dgp1130

docs: document migration of universal repo
  .github/ISSUE_TEMPLATE/Bug.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/Proposal.md
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Owners: @dgp1130

docs: update README
  README.md
Owners: @dgp1130

docs: update README
  README.md
Owners: @dgp1130

docs: update CLI link in github issue template
  .github/ISSUE_TEMPLATE/config.yml
Owners: @dgp1130

docs: update CLI link in github issue template
  .github/ISSUE_TEMPLATE/config.yml
Owners: @dgp1130

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130
