Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130

build: update chrome driver to 99.0.4844.17
  .circleci/config.yml
Owners: none

feat(@nguniversal/common): drop support for Node.js 12
  modules/builders/package.json
  modules/common/package.json
  modules/express-engine/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130, @CaerusKaru

build: update angular to 8f4e3fd
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update actions/checkout action to v3
  .github/workflows/dev-infra.yml
Owners: @dgp1130

fix(express-engine): construct req url instead of using originalUrl
  modules/express-engine/src/main.ts
Owners: none

ci: fix permissions and tags
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular to 3ff76be
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v1.1.4
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update angular to 4b3b41f
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular to fbbc740
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

feat(express-engine): schematics compatible with Node on Apache Passenger
  integration/common-engine/server.ts
  integration/express-engine-ivy-hybrid/server.ts
  integration/express-engine-ivy/server.ts
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update github/codeql-action action to v1.1.5
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update to TypeScript 4.6
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.interceptor.ts
  modules/common/src/transfer_http.ts
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update version to 13.3.0
  package.json
Owners: @dgp1130

build: update to TypeScript 4.6
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.interceptor.ts
  modules/common/src/transfer_http.ts
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: replace `--prod` with `--configuration production`
  integration/clover/README.md
  integration/clover/src/environments/environment.ts
  integration/common-engine/README.md
  integration/common-engine/package.json
  integration/common-engine/src/environments/environment.ts
  integration/express-engine-ivy-hybrid/README.md
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy-hybrid/src/environments/environment.ts
  integration/express-engine-ivy/README.md
  integration/express-engine-ivy/package.json
  integration/express-engine-ivy/src/environments/environment.ts
  modules/builders/testing/hello-world-app/README.md
  modules/builders/testing/hello-world-app/package.json
  modules/builders/testing/hello-world-app/src/environments/environment.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update to TypeScript 4.6 (#2582)
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.interceptor.ts
  modules/common/src/transfer_http.ts
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

refactor: update `master` branch to `13.2.0-next.0`
  package.json
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update angular to 5a82e60
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

release: cut the v13.1.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v13.1.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v13.1.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update dependency jasmine to v4
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.1.8
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update dependency karma-jasmine to v5
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update dependency jasmine to v4
  package.json
  yarn.lock
Owners: @dgp1130

build: update bazel
  .circleci/config.yml
  WORKSPACE
  modules/BUILD.bazel
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4
