Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130

docs: release notes for the v16.0.2 release
  CHANGELOG.md
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update Angular deps to version 16.1
  modules/builders/package.json
  modules/common/package.json
  modules/express-engine/package.json
Owners: @alan-agius4, @dgp1130, @CaerusKaru

release: cut the v16.1.0-next.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.3.5
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update dependency @rollup/plugin-node-resolve to v15
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency concurrently to v8
  integration/express-engine-csp-nonce/package.json
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update dependency critters to v0.0.17
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update dependency critters to v0.0.17
  modules/builders/src/prerender/index.spec.ts
  modules/builders/src/prerender/worker.ts
  modules/common/clover/server/src/server-engine.ts
  modules/common/engine/src/engine.ts
  modules/common/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130, @CaerusKaru

build: update angular
  .github/workflows/dev-infra.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency critters to v0.0.18
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

refactor: deprecate transfer http cache
  modules/common/src/state-transfer-initializer/README.md
  modules/common/src/state-transfer-initializer/module.ts
  modules/common/src/transfer_http.ts
Owners: none

build: update github/codeql-action action to v2.3.6
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update Angular and TypeScript packages
  modules/builders/src/ssr-dev-server/index.spec.ts
  modules/builders/testing/hello-world-app/tsconfig.server.json
  modules/common/tools/src/inline-css-processor.ts
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130

release: cut the v16.1.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.1.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: bump the next branch to v16.2.0-next.0
  package.json
Owners: @dgp1130

docs: release notes for the v16.1.0-rc.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-csp-nonce/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-standalone/package.json
  modules/common/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-csp-nonce/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-standalone/package.json
  modules/common/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update actions/checkout action to v3.5.3
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update dependency esbuild to ^0.18.0
  package.json
  yarn.lock
Owners: @dgp1130

release: cut the v16.1.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.1.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v16.1.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency esbuild to ^0.18.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update actions/checkout action to v3.5.3
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update actions/checkout action to v3.5.3
  .github/workflows/dev-infra.yml
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update actions/checkout action to v3.5.3
  .github/workflows/dev-infra.yml
Owners: @dgp1130

build: update dependency piscina to v4
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130
