Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130

build: update dependency zone.js to ^0.12.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies to v5.42.1
  package.json
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/express-engine): fix formatting in generated `server.ts`
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: none

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/express-engine): fix formatting in generated `server.ts`
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: none

fix(@nguniversal/express-engine): fix formatting in generated `server.ts`
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: none

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.1.32
  .github/workflows/scorecard.yml
Owners: @dgp1130

fix(@nguniversal/builders): Initialize zone.js once in rendering workers
  modules/builders/BUILD.bazel
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/worker.ts
Owners: @alan-agius4

fix(@nguniversal/builders): Initialize zone.js once in rendering workers
  modules/builders/BUILD.bazel
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/worker.ts
Owners: @alan-agius4

release: cut the v15.0.0-rc.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v15.0.0-rc.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v15.0.0-rc.1 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v15.0.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v15.0.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

docs: release notes for the v15.0.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update github/codeql-action action to v2.1.33
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

release: cut the v14.2.3 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.2.3 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v14.2.3 release
  CHANGELOG.md
Owners: @dgp1130

build: update angular
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  modules/common/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update github/codeql-action action to v2.1.34
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

docs: update readme based on suggestions
  README.md
Owners: @dgp1130

build: update dependency angular-in-memory-web-api to ^0.15.0
  integration/clover/package.json
  integration/express-engine-ivy-hybrid/package.json
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update github/codeql-action action to v2.1.35
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  WORKSPACE
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update angular/dev-infra digest to c3339f5
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
Owners: @dgp1130

build: update dependency esbuild to ^0.16.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130
