Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

fix(@nguniversal/express-engine): remove default value of `appDir` option
  modules/express-engine/schematics/install/schema.json
  modules/express-engine/schematics/install/schema.ts
Owners: none

release: cut the v14.1.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.1.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v14.1.0 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v14.2.0-next.0 release
  CHANGELOG.md
Owners: @dgp1130

build: WIP migration to bazel
  .bazelignore
  .bazelrc
  .bazelversion
  WORKSPACE
  integration/BUILD.bazel
  integration/clover/BUILD.bazel
  integration/clover/package.json
  integration/clover/test.sh
  integration/common-engine/BUILD.bazel
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/BUILD.bazel
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/BUILD.bazel
  integration/express-engine-ivy/package.json
  integration/package.json
  integration/pnpm-lock.yaml
  integration/pnpm-workspace.yaml
  modules/builders/BUILD.bazel
  modules/builders/package.json.tmpl
  modules/common/BUILD.bazel
  modules/common/package.json.tmpl
  modules/express-engine/BUILD.bazel
  modules/express-engine/package.json.tmpl
  tools/defaults.bzl
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update github/codeql-action action to v2.1.19
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update github/codeql-action action to v2.1.21
  .github/workflows/scorecard.yml
Owners: @dgp1130

fix(@nguniversal/common): handle cookies with localhost domain as path
  modules/common/clover/server/src/server-engine.ts
Owners: none

fix(@nguniversal/common): handle cookies with localhost domain as path
  modules/common/clover/server/src/server-engine.ts
Owners: none

fix(@nguniversal/express-engine): remove default value of `appDir` option
  modules/express-engine/schematics/install/schema.json
  modules/express-engine/schematics/install/schema.ts
Owners: none

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

docs(readme): revert - add team
  README.md
Owners: @dgp1130

docs: readme update
  README.md
Owners: @dgp1130

build: update dependency puppeteer to v16
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency puppeteer to v17
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update Angular to version 14.2 and TypeScript to 4.8
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update github/codeql-action action to v2.1.22
  .github/workflows/scorecard.yml
Owners: @dgp1130

release: cut the v14.2.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.2.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: bump the next branch to v14.3.0-next.0
  package.json
Owners: @dgp1130

docs: release notes for the v14.2.0-rc.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update main branch to 15.0.0-next.0
  package.json
Owners: @dgp1130

release: cut the v14.2.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.2.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v14.2.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update ossf/scorecard-action action to v2
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  WORKSPACE
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update angular/dev-infra digest to 1c648b4
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
Owners: @dgp1130

build: update angular/dev-infra digest to bf4bb09
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
Owners: @dgp1130

build: update ossf/scorecard-action action to v2.0.3
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update dependency puppeteer to v17
  package.json
  yarn.lock
Owners: @dgp1130

docs: update readme
  README.md
Owners: @dgp1130

build: update github/codeql-action action to v2.1.24
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  WORKSPACE
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update dependency typescript to v4.8.4
  package.json
  yarn.lock
Owners: @dgp1130

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update github/codeql-action action to v2.1.26
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update actions/checkout action to v3.1.0
  .github/workflows/dev-infra.yml
Owners: @dgp1130

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130
