Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @kyliau, @alan-agius4, @CaerusKaru, @FrozenPandaz, @Toxicable

test: enable strict mode testing
  integration/common/src/helloworld/client.ts
  integration/express-engine-ivy-prerender/server.ts
  integration/express-engine-ivy-prerender/tsconfig.json
  integration/express-engine-ivy/server.ts
  integration/express-engine-ivy/src/main.ts
  integration/express-engine-ivy/tsconfig.json
  integration/express-engine-ve/server.ts
  integration/express-engine-ve/src/main.ts
  integration/express-engine-ve/tsconfig.json
  integration/hapi-engine-ivy/src/main.ts
  integration/hapi-engine-ivy/tsconfig.json
  integration/hapi-engine-ve/src/main.ts
  integration/hapi-engine-ve/tsconfig.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

fix(express-engine): `RenderOptions` is not assignable to `object`
  modules/express-engine/src/main.ts
Owners: none

build: update lock file and @types/node resolutions
  package.json
  yarn.lock
Owners: @kyliau

docs: update issue template and Gotchas guide
  .github/ISSUE_TEMPLATE/Bug.md
  docs/gotchas.md
Owners: @kyliau

fixup! docs: update issue template and Gotchas guide
  .github/ISSUE_TEMPLATE/Bug.md
  docs/gotchas.md
Owners: @kyliau

fixup! docs: update issue template and Gotchas guide
  docs/gotchas.md
Owners: none

build: update codelyzer to version 6.0.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update puppeteer to version ~5.0.0
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.19.0
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.20.0
  package.json
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.21.0
  package.json
  yarn.lock
Owners: @kyliau

build: embed tslib in umd bundles
  tools/defaults.bzl
Owners: @CaerusKaru, @kyliau

build: update puppeteer to version ~5.1.0
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update puppeteer to version ~5.2.0
  package.json
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.22.0
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update jasmine-core to version 3.6.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update rollup to version ~2.23.0
  package.json
  yarn.lock
Owners: @kyliau

build: update karma to version 5.1.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

Update transfer_http.ts
  modules/common/src/transfer_http.ts
Owners: none

docs: fix bug template
  .github/ISSUE_TEMPLATE/Bug.md
Owners: @kyliau

build: update tslint to version 6.1.3
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update terser to version ^5.0.0
  package.json
  yarn.lock
Owners: @kyliau

added a test to cover arrays in url params
  modules/common/spec/transfer_http.spec.ts
Owners: none

build: update concurrently to version 5.3.0
  integration/common/package.json
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update karma-jasmine to version 4.0.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update karma-jasmine to version 4.0.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update rollup to version ~2.25.0
  package.json
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.26.0
  package.json
  yarn.lock
Owners: @kyliau

build: update zone.js to version ^0.11.0
  package.json
  yarn.lock
Owners: @kyliau

build: update ts-node to version 9.0.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

build: update @types/hapi__hapi to version ^20.0.0
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

build: update to TypeScript 4.0
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

build: update @types/hapi__hapi to version ^20.0.0
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  modules/hapi-engine/schematics/install/index.ts
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

build: update Angular packages to 10.1.0-rc.0
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

build: update karma to version 5.2.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: remove --experimental_allow_incremental_repository_updates in bazelrc
  .bazelrc
Owners: @kyliau

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @kyliau
/modules/builders                                      @alan-agius4
/modules/common/*                                      @kyliau @CaerusKaru
/modules/express-engine/*                              @kyliau @FrozenPandaz
/modules/hapi-engine/*                                 @kyliau @CaerusKaru
/modules/module-map-ngfactory-loader                   @kyliau @Toxicable @FrozenPandaz

# Tooling
/scripts/**                                        @CaerusKaru @kyliau
/integration/**                                    @CaerusKaru @kyliau
/tools/**                                          @CaerusKaru @kyliau

# Misc
/*                                                 @kyliau
/.github/**                                        @kyliau
/modules/*                                         @kyliau
