Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130

build: update all non-major dependencies
  WORKSPACE
  package.json
  yarn.lock
Owners: @dgp1130

build: update contributing guide to reflect branch name of `code-of-conduct` repository
  CONTRIBUTING.md
Owners: @dgp1130

build: update contributing guide to reflect branch name of `code-of-conduct` repository
  CONTRIBUTING.md
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/common): handle `ngDevMode` correctly
  modules/common/clover/src/styles_host.ts
Owners: none

build: enable renovate dependency dashboard
  renovate.json
Owners: @dgp1130

fix(@nguniversal/common): handle `ngDevMode` correctly
  modules/common/clover/src/styles_host.ts
Owners: none

build: enable renovate dependency dashboard
  renovate.json
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

release: cut the v14.0.3 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.0.3 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v14.0.3 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v14.1.0-next.2 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.1.0-next.2 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update pull-request config
  .ng-dev/pull-request.mts
Owners: none

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update angular to 6af9f6c
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.1.16
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  WORKSPACE
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

release: cut the v14.1.0-rc.0 release
  CHANGELOG.md
  package.json
  tools/defaults.bzl
Owners: @dgp1130, @CaerusKaru, @alan-agius4

release: cut the v14.1.0-rc.0 release
  CHANGELOG.md
  package.json
  tools/defaults.bzl
Owners: @dgp1130, @CaerusKaru, @alan-agius4

docs: release notes for the v14.1.0-rc.0 release
  CHANGELOG.md
Owners: @dgp1130

release: bump the next branch to v14.2.0-next.0
  package.json
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update dependency @types/jsdom to v20
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular to 6d9c069
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.1.17
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular/dev-infra digest to 9c1ebb1
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
Owners: @dgp1130

build: update github/codeql-action action to v2.1.18
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency esbuild to ^0.15.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  WORKSPACE
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

feat(@nguniversal/common): add support for `blob` and `arraybuffer` in TransferHttpCacheModule
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.interceptor.ts
  modules/common/spec/transfer_http.spec.ts
  modules/common/src/transfer_http.ts
Owners: none

feat(@nguniversal/common): add support for `blob` and `arraybuffer` in TransferHttpCacheModule
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.interceptor.ts
  modules/common/spec/transfer_http.spec.ts
  modules/common/src/transfer_http.ts
Owners: none

build: update angular/dev-infra digest to b158ee6
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
Owners: @dgp1130
