Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

build: update all non-major dependencies to v5.7.3
  WORKSPACE
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update actions/checkout action to v3.2.0
  .github/workflows/dev-infra.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  WORKSPACE
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency @rollup/plugin-commonjs to v24
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update ossf/scorecard-action action to v2.1.2
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: fix scorecard action failing
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: fix scorecard action signing
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update actions/checkout action to v3.3.0
  .github/workflows/dev-infra.yml
Owners: @dgp1130

build: update dependency jsdom to v21
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update dependency @types/fs-extra to v11
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/builders): disable bundle budgets when using the dev-server
  modules/builders/src/ssr-dev-server/index.ts
Owners: @alan-agius4

fix(@nguniversal/builders): disable bundle budgets when using the dev-server
  modules/builders/src/ssr-dev-server/index.ts
Owners: @alan-agius4

ci: update `circleci/browser-tools` to `1.4.0`
  .circleci/config.yml
Owners: none

ci: update `circleci/browser-tools` to `1.4.0`
  .circleci/config.yml
Owners: none

build: remove `defaults.bzl` version in favor of version in `package.json`
  modules/builders/package.json
  modules/common/package.json
  modules/express-engine/package.json
  tools/defaults.bzl
Owners: @alan-agius4, @dgp1130, @CaerusKaru

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency @bazel/buildifier to v6
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @alan-agius4

release: cut the v15.1.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v15.1.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: bump the next branch to v15.2.0-next.0
  package.json
Owners: @dgp1130

docs: release notes for the v15.1.0-rc.0 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v15.1.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v15.1.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v15.1.0 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v15.2.0-next.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update dev-infra packages
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update dev-infra packages
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update github/codeql-action action to v2.1.38
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update dependency esbuild to ^0.17.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.1.38
  .github/workflows/scorecard.yml
Owners: @dgp1130

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130
