Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130

build: update dependency esbuild to ^0.17.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency minimatch to v6
  package.json
  yarn.lock
Owners: @dgp1130

build: remove minimatch as it's unused
  package.json
  yarn.lock
Owners: @dgp1130

ci: disable Renovate updates for `@angular/bazel`
  renovate.json
Owners: @dgp1130

build: remove minimatch as it's unused
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.1.39
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.1.39
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update all non-major dependencies
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.2.1
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.2.1
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update dependency @types/jsdom to v21
  package.json
  yarn.lock
Owners: @dgp1130

feat(@nguniversal/common): add removal notice for Clover APIs
  modules/common/BUILD.bazel
  modules/common/clover/README.md
  modules/common/clover/server/src/server-engine.ts
  modules/common/clover/src/module.ts
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.module.ts
  modules/common/schematics/BUILD.bazel
  modules/common/schematics/collection.json
  modules/common/schematics/ng-add/files/root/tsconfig.server.json.template
  modules/common/schematics/ng-add/files/src/server.ts.template
  modules/common/schematics/ng-add/index.spec.ts
  modules/common/schematics/ng-add/index.ts
  modules/common/schematics/ng-add/schema.json
  modules/common/schematics/ng-add/schema.ts
  modules/common/schematics/package.json
  modules/common/schematics/tsconfig.json
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update github/codeql-action action to v2.2.4
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

refactor(@nguniversal/common): remove old logic for arraybuffer
  modules/common/src/transfer_http.ts
Owners: none

fix(@nguniversal/common): avoid invalidating cache when using a post request
  modules/common/src/transfer_http.ts
Owners: none

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

feat(@nguniversal/builders): add `--verbose` option to SSR Dev Server
  modules/builders/src/ssr-dev-server/index.ts
  modules/builders/src/ssr-dev-server/schema.json
  modules/builders/src/ssr-dev-server/schema.ts
Owners: @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @alan-agius4

release: cut the v15.2.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v15.2.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: bump the next branch to v15.3.0-next.0
  package.json
Owners: @dgp1130

docs: release notes for the v15.2.0-rc.0 release
  CHANGELOG.md
Owners: @dgp1130

release: switch the next branch to v16.0.0-next.0
  package.json
Owners: @dgp1130
