Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

build: update dependency @rollup/plugin-node-resolve to v15
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency @rollup/plugin-node-resolve to v15
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency node-fetch to v3
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency ora to v6
  modules/builders/package.json
  package.json
  yarn.lock
Owners: @alan-agius4, @dgp1130

build: update dependency rxjs to v7
  package.json
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/express-engine): replace zone.js import
  integration/common-engine/server.ts
  integration/express-engine-ivy-hybrid/server.ts
  integration/express-engine-ivy/server.ts
  modules/builders/testing/hello-world-app/server.ts
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update github/codeql-action action to v2.1.29
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  WORKSPACE
  package.json
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/builders): address method Promise.prototype.then called on incompatible receiver error
  modules/builders/BUILD.bazel
  modules/builders/src/prerender/worker.ts
Owners: @alan-agius4

fix(@nguniversal/builders): address method Promise.prototype.then called on incompatible receiver error
  modules/builders/src/prerender/worker.ts
Owners: @alan-agius4

fix(@nguniversal/express-engine): replace zone.js import
  integration/common-engine/server.ts
  integration/express-engine-ivy-hybrid/server.ts
  integration/express-engine-ivy/server.ts
  modules/builders/testing/hello-world-app/server.ts
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

release: cut the v14.2.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.2.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v14.2.1 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v15.0.0-next.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v15.0.0-next.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: bump the next branch to v15.1.0-next.0
  package.json
Owners: @dgp1130

docs: release notes for the v15.0.0-next.1 release
  CHANGELOG.md
Owners: @dgp1130

build: update github/codeql-action action to v2.1.31
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  modules/common/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  modules/common/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency zone.js to ^0.12.0
  package.json
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/common): mark `bootstrap` in `RenderOptions` as non required
  modules/common/engine/src/engine.ts
  modules/express-engine/src/main.ts
Owners: none

fix(@nguniversal/common): mark `bootstrap` in `RenderOptions` as non required
  modules/common/engine/src/engine.ts
  modules/express-engine/src/main.ts
Owners: none

fix(@nguniversal/common): mark `bootstrap` in `RenderOptions` as non required
  modules/common/engine/src/engine.ts
  modules/express-engine/src/main.ts
Owners: none

release: cut the v14.2.2 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.2.2 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v14.2.2 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v15.0.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v15.0.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v15.0.0-rc.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update angular
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies to v5.42.1
  package.json
  yarn.lock
Owners: @dgp1130

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130
