Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130

build: update github/codeql-action action to v2.1.10
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update dependency puppeteer to v14
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular to f557392
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action digest to 2f58583
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update TypeScript to `4.7.0-beta`
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.1.10
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update dependency puppeteer to v14
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action digest to 2f58583
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular to f557392
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update Angular packages to 14.0.0-rc.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update TypeScript to `4.7.0-beta`
  package.json
  yarn.lock
Owners: @dgp1130

release: cut the v14.0.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v14.0.0-rc.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update angular to ce1d7f6
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.1.11
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular to ce1d7f6
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update actions/upload-artifact action to v3.1.0
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  WORKSPACE
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: set up post approval changes commit action
  .github/workflows/dev-infra.yml
Owners: @dgp1130

refactor: update paths to use new API of `@schematics/angular`
  modules/common/schematics/ng-add/index.ts
  modules/express-engine/schematics/install/index.ts
  modules/express-engine/schematics/utils/utils.ts
Owners: none

fix(@nguniversal/common): add a marker for SSR pages
  modules/builders/src/prerender/worker.ts
  modules/common/engine/src/engine.ts
Owners: @alan-agius4

refactor: update paths to use new API of `@schematics/angular`
  modules/common/schematics/ng-add/index.ts
  modules/express-engine/schematics/install/index.ts
  modules/express-engine/schematics/utils/utils.ts
Owners: none

build: set up post approval changes commit action
  .github/workflows/dev-infra.yml
Owners: @dgp1130

build: set up post approval changes commit action
  .github/workflows/dev-infra.yml
Owners: @dgp1130

build: update dependency typescript to v4.7.2
  package.json
  yarn.lock
Owners: @dgp1130

build: update ossf/scorecard-action action to v1.1.0
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update dependency karma-jasmine-html-reporter to v2
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency typescript to v4.7.2
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency karma-jasmine-html-reporter to v2
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update ossf/scorecard-action action to v1.1.0
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency typescript to v4.7.2
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130
