Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

build: update github/codeql-action action to v2.3.0
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.3.1
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update dependency patch-package to v7
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency patch-package to v7
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

ci: remove lock closed
  .github/workflows/lock-closed.yml
Owners: @dgp1130

release: cut the v16.0.0-rc.2 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.0.0-rc.2 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v16.0.0-rc.2 release
  CHANGELOG.md
Owners: @dgp1130

build: update dependency jsdom to v22
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  integration/common-engine/angular.json
  integration/express-engine-csp-nonce/angular.json
  integration/express-engine-ivy-hybrid/angular.json
  integration/express-engine-ivy/angular.json
  integration/express-engine-standalone/angular.json
  modules/builders/testing/hello-world-app/angular.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

release: cut the v16.0.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.0.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v16.0.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update github/codeql-action action to v2.3.3
  .github/workflows/scorecard.yml
Owners: @dgp1130

fix(@nguniversal/builders): strip out newlines
  modules/builders/src/ssr-dev-server/index.spec.ts
  modules/builders/src/ssr-dev-server/index.ts
Owners: @alan-agius4

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/builders): strip out newlines
  modules/builders/src/ssr-dev-server/index.spec.ts
  modules/builders/src/ssr-dev-server/index.ts
Owners: @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency jsdom to v22
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

release: cut the v16.0.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.0.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v16.0.1 release
  CHANGELOG.md
Owners: @dgp1130

build: update dependency angular-in-memory-web-api to ^0.16.0
  integration/clover/package.json
  integration/express-engine-ivy-hybrid/package.json
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update dependency @rollup/plugin-commonjs to v25
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency jasmine to v5
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency jasmine-core to v5
  integration/common-engine/package.json
  integration/express-engine-csp-nonce/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-standalone/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

test: improve critical css inlining tests
  integration/express-engine-ivy/e2e/src/app.e2e-spec.ts
  integration/express-engine-standalone/e2e/src/app.e2e-spec.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

fix(@nguniversal/common): correctly handle multiple lazy CSS files
  integration/express-engine-ivy/angular.json
  integration/express-engine-ivy/e2e/src/app.e2e-spec.ts
  integration/express-engine-ivy/src/styles-extra.css
  modules/common/engine/src/engine.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

fix(@nguniversal/common): correctly handle multiple lazy CSS files
  integration/express-engine-ivy/angular.json
  integration/express-engine-ivy/e2e/src/app.e2e-spec.ts
  integration/express-engine-ivy/src/styles-extra.css
  modules/common/engine/src/engine.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency angular-in-memory-web-api to ^0.16.0
  integration/clover/package.json
  integration/express-engine-ivy-hybrid/package.json
Owners: @CaerusKaru, @dgp1130, @alan-agius4

release: cut the v16.0.2 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v16.0.2 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130
