Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @kyliau, @alan-agius4, @CaerusKaru, @FrozenPandaz, @Toxicable

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @kyliau
/modules/builders                                      @alan-agius4
/modules/common/*                                      @kyliau @CaerusKaru
/modules/express-engine/*                              @kyliau @FrozenPandaz
/modules/hapi-engine/*                                 @kyliau @CaerusKaru
/modules/module-map-ngfactory-loader                   @kyliau @Toxicable @FrozenPandaz

# Tooling
/scripts/**                                        @CaerusKaru @kyliau
/integration/**                                    @CaerusKaru @kyliau
/tools/**                                          @CaerusKaru @kyliau

# Misc
/*                                                 @kyliau
/.github/**                                        @kyliau
/modules/*                                         @kyliau

build: update @types/express-serve-static-core to version 4.17.5
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

fix(prerender): use browser builder's index option in prerender builder
  integration/express-engine-ivy-prerender/angular.json
  modules/builders/BUILD.bazel
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/render.ts
  modules/builders/src/prerender/utils.spec.ts
  modules/builders/src/prerender/utils.ts
Owners: @CaerusKaru, @kyliau, @alan-agius4

build: update karma to version ^5.0.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

build: update protractor to version 5.4.4
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update ts-node to version 8.9.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

build: update @bazel/ibazel to version ^0.13.0
  package.json
  yarn.lock
Owners: @kyliau

build: update concurrently to version 5.2.0
  integration/common/package.json
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update jasmine-spec-reporter to version 5.0.2
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update ts-node to version 8.9.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update @bazel/buildifier to version ^3.0.0
  package.json
  yarn.lock
Owners: @kyliau

build: update tslint to version 6.1.2
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update build_bazel_rules_nodejs to version 1.6.1
  WORKSPACE
Owners: @kyliau

build: update karma to version 5.0.3
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: add repository, homepage, bugs fields on package.json
  modules/builders/package.json
Owners: @alan-agius4

build: add repository, homepage, bugs fields on package.json
  modules/builders/package.json
Owners: @alan-agius4

build: update karma to version 5.0.4
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update karma-coverage-istanbul-reporter to version 3.0.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

chore: Improve prerender logging
  modules/builders/src/prerender/utils.ts
Owners: @alan-agius4

build: update ts-node to version 8.10.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

chore: Remove whitespace
  modules/builders/src/prerender/utils.ts
Owners: @alan-agius4

build: update to version
  yarn.lock
Owners: @kyliau

build: update rollup-plugin-sourcemaps to version ^0.6.0
  package.json
  yarn.lock
Owners: @kyliau

build: update karma-coverage-istanbul-reporter to version 3.0.2
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update @types/express-serve-static-core to version 4.17.7
  package.json
  yarn.lock
Owners: @kyliau

build: update karma to version 5.0.5
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update @types/express to version 4.17.6
  package.json
  yarn.lock
Owners: @kyliau

feat(builders): add `--inspect` option to `ssr-dev-server` builder
  modules/builders/src/ssr-dev-server/index.ts
  modules/builders/src/ssr-dev-server/schema.json
Owners: @alan-agius4

build: update to angular 10
  .circleci/config.yml
  modules/module-map-ngfactory-loader/src/module-map-loader.module.ts
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @Toxicable, @FrozenPandaz, @CaerusKaru

ci: run intergration e2e tests with puppeteer
  .circleci/config.yml
  integration/common/e2e/protractor.config.js
  integration/express-engine-ivy-prerender/e2e/protractor.conf.js
  integration/express-engine-ivy-prerender/e2e/src/app.e2e-spec.ts
  integration/express-engine-ivy-prerender/e2e/src/app.po.ts
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy-prerender/server.ts
  integration/express-engine-ivy-prerender/static-server.js
  integration/express-engine-ivy/e2e/protractor.conf.js
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/e2e/protractor.conf.js
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/e2e/protractor.conf.js
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/e2e/protractor.conf.js
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

release: v9.1.1
  package.json
  yarn.lock
Owners: @kyliau

ci: update to run on node 10.20
  .circleci/config.yml
Owners: none

ci: run intergration e2e tests with puppeteer
  .circleci/config.yml
  integration/common/e2e/protractor.config.js
  integration/express-engine-ivy-prerender/e2e/protractor.conf.js
  integration/express-engine-ivy-prerender/e2e/src/app.e2e-spec.ts
  integration/express-engine-ivy-prerender/e2e/src/app.po.ts
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy-prerender/server.ts
  integration/express-engine-ivy-prerender/static-server.js
  integration/express-engine-ivy/e2e/protractor.conf.js
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/e2e/protractor.conf.js
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/e2e/protractor.conf.js
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/e2e/protractor.conf.js
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

feat(builders): add '--htmlMinifyOptionsFile' option to 'prerender' builder
  modules/builders/package.json
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/render.ts
  modules/builders/src/prerender/schema.json
  modules/builders/src/prerender/schema.ts
  modules/builders/src/prerender/utils.ts
  package.json
  yarn.lock
Owners: @alan-agius4, @kyliau

build: update karma-jasmine-html-reporter to version 1.5.4
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update tslib to version ~1.12.0
  package.json
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.10.0
  package.json
  yarn.lock
Owners: @kyliau
