Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @vikerman, @CaerusKaru, @FrozenPandaz, @Toxicable

feat(common): introduce common engine
  modules/aspnetcore-engine/package.json
  modules/aspnetcore-engine/src/main.ts
  modules/common/package.json
  modules/common/src/universal-engine/file-loader.ts
  modules/common/src/universal-engine/index.ts
  modules/common/src/universal-engine/interfaces.ts
  modules/common/src/universal-engine/tokens.ts
  modules/common/src/universal-engine/universal-engine.ts
  modules/express-engine/package.json
  modules/express-engine/src/main.ts
  modules/express-engine/tsconfig.json
  modules/hapi-engine/package.json
  modules/hapi-engine/src/main.ts
  tsconfig.json
  yarn.lock
Owners: @MarkPieszak, @vikerman, @CaerusKaru, @FrozenPandaz

[wip]
  modules/aspnetcore-engine/src/main.ts
  modules/aspnetcore-engine/tsconfig.lib.json
  modules/aspnetcore-engine/tsconfig.spec.json
  modules/common/public-api.ts
  modules/common/src/universal-engine/index.ts
  modules/common/src/universal-engine/interfaces.ts
  modules/common/src/universal-engine/universal-engine.ts
  modules/common/tsconfig.lib.json
  modules/express-engine/src/main.ts
  modules/express-engine/tsconfig.lib.json
  modules/hapi-engine/src/main.ts
  modules/hapi-engine/tsconfig.lib.json
Owners: @MarkPieszak, @vikerman, @CaerusKaru, @FrozenPandaz

[squash] clean up
  modules/aspnetcore-engine/package.json
  modules/aspnetcore-engine/public-api.ts
  modules/aspnetcore-engine/tsconfig.lib.json
  modules/common/package.json
  modules/common/tsconfig.lib.json
  modules/express-engine/package.json
  modules/express-engine/tsconfig.json
  modules/hapi-engine/package.json
Owners: @MarkPieszak, @vikerman, @CaerusKaru, @FrozenPandaz

feat(common): add UniversalEngine to encapsulte rendering
  build-config.js
  modules/aspnetcore-engine/package.json
  modules/aspnetcore-engine/src/main.ts
  modules/aspnetcore-engine/src/platform-server-utils.ts
  modules/aspnetcore-engine/tsconfig.json
  modules/aspnetcore-engine/tsconfig.lib.json
  modules/aspnetcore-engine/tsconfig.spec.json
  modules/common/package.json
  modules/common/public-api.ts
  modules/common/src/universal-engine/file-loader.ts
  modules/common/src/universal-engine/index.ts
  modules/common/src/universal-engine/interfaces.ts
  modules/common/src/universal-engine/universal-engine.ts
  modules/common/tsconfig.json
  modules/common/tsconfig.lib.json
  modules/common/tsconfig.spec.json
  modules/express-engine/package.json
  modules/express-engine/src/file-loader.ts
  modules/express-engine/src/main.ts
  modules/express-engine/src/tokens.ts
  modules/express-engine/tsconfig.json
  modules/express-engine/tsconfig.lib.json
  modules/express-engine/tsconfig.spec.json
  modules/hapi-engine/package.json
  modules/hapi-engine/public-api.ts
  modules/hapi-engine/src/file-loader.ts
  modules/hapi-engine/src/main.ts
  modules/hapi-engine/tsconfig.json
  modules/hapi-engine/tsconfig.lib.json
  modules/hapi-engine/tsconfig.spec.json
  modules/module-map-ngfactory-loader/tsconfig.json
  tools/package-tools/rollup-globals.ts
  yarn.lock
Owners: @vikerman, @MarkPieszak, @CaerusKaru, @FrozenPandaz, @Toxicable

feat(engines): add optional url and document to render options
  modules/aspnetcore-engine/README.md
  modules/aspnetcore-engine/src/interfaces/engine-options.ts
  modules/aspnetcore-engine/src/main.ts
  modules/express-engine/README.md
  modules/express-engine/src/main.ts
  modules/hapi-engine/README.md
  modules/hapi-engine/src/main.ts
Owners: @MarkPieszak, @vikerman, @FrozenPandaz, @CaerusKaru

chore(release): 5.0.0-beta.5
  CHANGELOG.md
  package.json
Owners: @vikerman

chore: clean out changelog
  CHANGELOG.md
  yarn.lock
Owners: @vikerman

chore(release): 5.0.0-beta.6
  CHANGELOG.md
  package.json
Owners: @vikerman

feat(tools): add scripts for bumping versions
  package.json
Owners: @vikerman

docs(express, hapi): fix token import example
  modules/express-engine/README.md
  modules/hapi-engine/README.md
Owners: @vikerman, @FrozenPandaz, @CaerusKaru

build: introduce bazel
  .circleci/config.yml
  .gitignore
  BUILD.bazel
  WORKSPACE
  modules/aspnetcore-engine/BUILD.bazel
  modules/aspnetcore-engine/spec/index.spec.ts
  modules/common/BUILD.bazel
  modules/common/spec/index.spec.ts
  modules/express-engine/BUILD.bazel
  modules/express-engine/spec/index.spec.ts
  modules/hapi-engine/BUILD.bazel
  modules/hapi-engine/spec/index.spec.ts
  modules/module-map-ngfactory-loader/BUILD.bazel
  modules/module-map-ngfactory-loader/spec/index.spec.ts
  package.json
  tools/BUILD.bazel
  tools/bazel.rc
  tools/defaults.bzl
  tsconfig.json
  yarn.lock
Owners: @vikerman, @MarkPieszak, @CaerusKaru, @FrozenPandaz, @Toxicable

chore: update CHANGELOG with breaking changes
  CHANGELOG.md
Owners: @vikerman

build: use ng_package
  .cicleci/config.yml
  .circleci/config.yml
  BUILD.bazel
  WORKSPACE
  angular.tsconfig.json
  modules/aspnetcore-engine/BUILD.bazel
  modules/common/BUILD.bazel
  modules/express-engine/BUILD.bazel
  modules/hapi-engine/BUILD.bazel
  modules/module-map-ngfactory-loader/BUILD.bazel
  package.json
  tools/defaults.bzl
  tsconfig.json
  yarn.lock
Owners: @vikerman, @MarkPieszak, @CaerusKaru, @FrozenPandaz, @Toxicable

feat(common): introduce StateTransferInitializerModule
  modules/common/public-api.ts
  modules/common/src/state-transfer-initilizer/README.md
  modules/common/src/state-transfer-initilizer/module.ts
Owners: @vikerman, @CaerusKaru

feat(ls-routes): introduce ls-routes
  modules/common/BUILD.bazel
  modules/common/ls-routes/BUILD.bazel
  modules/common/ls-routes/README.md
  modules/common/ls-routes/index.ts
  modules/common/ls-routes/package.json
  modules/common/ls-routes/public_api.ts
  modules/common/ls-routes/spec/ls-routes.spec.ts
  modules/common/ls-routes/src/index.ts
  modules/common/ls-routes/src/ls-routes.ts
  modules/common/ls-routes/tsconfig.json
  modules/common/ls-routes/tsconfig.lib.json
  modules/common/ls-routes/tsconfig.spec.json
  modules/module-map-ngfactory-loader/BUILD.bazel
  package.json
  tools/defaults.bzl
  tools/package-tools/rollup-globals.ts
  tsconfig.json
  yarn.lock
Owners: @vikerman, @CaerusKaru, @Toxicable, @FrozenPandaz

build: store build artifacts
  .circleci/config.yml
Owners: none

build: lint bazel build files
  .circleci/config.yml
  BUILD.bazel
  modules/aspnetcore-engine/BUILD.bazel
  modules/common/BUILD.bazel
  modules/express-engine/BUILD.bazel
  modules/hapi-engine/BUILD.bazel
  modules/module-map-ngfactory-loader/BUILD.bazel
Owners: @vikerman, @MarkPieszak, @CaerusKaru, @FrozenPandaz, @Toxicable

docs(README): rename "Angular 2" to "Angular"
  README.md
Owners: @vikerman

build: add globals to bazel
  tools/defaults.bzl
  tools/package-tools/rollup-globals.ts
Owners: @CaerusKaru, @vikerman

build: publish cjs/es5 sources
  modules/aspnetcore-engine/tsconfig.fortokens.json
  modules/common/tsconfig.lib.json
  modules/express-engine/tsconfig.fortokens.json
  modules/hapi-engine/tsconfig.fortokens.json
  modules/module-map-ngfactory-loader/tsconfig.lib.json
Owners: @MarkPieszak, @vikerman, @CaerusKaru, @FrozenPandaz, @Toxicable

fix(packaging): add better script for publishing
  package.json
Owners: @vikerman

feat(common): enable StateTransferInitializerModule
  modules/common/public-api.ts
Owners: @vikerman, @CaerusKaru

chore: upgrade to v6
  WORKSPACE
  angular.tsconfig.json
  modules/aspnetcore-engine/package.json
  modules/aspnetcore-engine/src/platform-server-utils.ts
  modules/common/src/transfer_http.ts
  package.json
  tools/defaults.bzl
  tools/package-tools/rollup-globals.ts
  tslint.json
  yarn.lock
Owners: @vikerman, @MarkPieszak, @CaerusKaru

chore: upgrade to v6
  yarn.lock
Owners: @vikerman

build: add Bazel rules for secondary entrypoints
  BUILD.bazel
  WORKSPACE
  angular.tsconfig.json
  modules/BUILD.bazel
  modules/aspnetcore-engine/BUILD.bazel
  modules/aspnetcore-engine/package.json
  modules/aspnetcore-engine/rollup_globals.bzl
  modules/aspnetcore-engine/tokens/BUILD.bazel
  modules/aspnetcore-engine/tsconfig.spec.json
  modules/common/BUILD.bazel
  modules/common/public-api.ts
  modules/common/rollup_globals.bzl
  modules/common/src/transfer-http-cache/module.ts
  modules/common/src/transfer-http-cache/provider.ts
  modules/common/src/transfer-http-cache/transfer_http.ts
  modules/common/tsconfig.lib.json
  modules/common/tsconfig.spec.json
  modules/express-engine/BUILD.bazel
  modules/express-engine/rollup_globals.bzl
  modules/express-engine/src/main.ts
  modules/express-engine/tokens/BUILD.bazel
  modules/express-engine/tsconfig.spec.json
  modules/hapi-engine/BUILD.bazel
  modules/hapi-engine/rollup_globals.bzl
  modules/hapi-engine/tokens/BUILD.bazel
  modules/hapi-engine/tokens/package.json
  modules/hapi-engine/tsconfig.spec.json
  modules/module-map-ngfactory-loader/BUILD.bazel
  modules/module-map-ngfactory-loader/rollup_globals.bzl
  modules/tsconfig.json
  modules/tsconfig.lib.json
  package.json
  test/karma-test-shim.js
  tools/defaults.bzl
  tools/tslint-rules/tsLoaderRule.js
  yarn.lock
Owners: @vikerman, @MarkPieszak, @CaerusKaru, @FrozenPandaz, @Toxicable

build: add Bazel rules for secondary entrypoints
  BUILD.bazel
  WORKSPACE
  angular.tsconfig.json
  modules/BUILD.bazel
  modules/aspnetcore-engine/BUILD.bazel
  modules/aspnetcore-engine/package.json
  modules/aspnetcore-engine/rollup_globals.bzl
  modules/aspnetcore-engine/tokens/BUILD.bazel
  modules/aspnetcore-engine/tsconfig.spec.json
  modules/common/BUILD.bazel
  modules/common/public-api.ts
  modules/common/rollup_globals.bzl
  modules/common/src/transfer-http-cache/module.ts
  modules/common/src/transfer-http-cache/provider.ts
  modules/common/src/transfer-http-cache/transfer_http.ts
  modules/common/tsconfig.lib.json
  modules/common/tsconfig.spec.json
  modules/express-engine/BUILD.bazel
  modules/express-engine/rollup_globals.bzl
  modules/express-engine/src/main.ts
  modules/express-engine/tokens/BUILD.bazel
  modules/express-engine/tsconfig.spec.json
  modules/hapi-engine/BUILD.bazel
  modules/hapi-engine/rollup_globals.bzl
  modules/hapi-engine/tokens/BUILD.bazel
  modules/hapi-engine/tokens/package.json
  modules/hapi-engine/tsconfig.spec.json
  modules/module-map-ngfactory-loader/BUILD.bazel
  modules/module-map-ngfactory-loader/rollup_globals.bzl
  modules/tsconfig.json
  modules/tsconfig.lib.json
  package.json
  test/karma-test-shim.js
  tools/bazel.rc
  tools/bazel_stamp_vars.sh
  tools/defaults.bzl
  yarn.lock
Owners: @vikerman, @MarkPieszak, @CaerusKaru, @FrozenPandaz, @Toxicable

build: use bazel for secondary entry point for tokens
  BUILD.bazel
  modules/aspnetcore-engine/BUILD.bazel
  modules/aspnetcore-engine/package.json
  modules/aspnetcore-engine/public_api.ts
  modules/aspnetcore-engine/tokens/BUILD.bazel
  modules/aspnetcore-engine/tokens/index.ts
  modules/aspnetcore-engine/tokens/public_api.ts
  modules/common/BUILD.bazel
  modules/common/index.ts
  modules/common/package.json
  modules/common/public_api.ts
  modules/express-engine/BUILD.bazel
  modules/express-engine/index.ts
  modules/express-engine/package.json
  modules/express-engine/public_api.ts
  modules/express-engine/tokens/BUILD.bazel
  modules/express-engine/tokens/index.ts
  modules/express-engine/tokens/public_api.ts
  modules/hapi-engine/BUILD.bazel
  modules/hapi-engine/index.ts
  modules/hapi-engine/package.json
  modules/hapi-engine/public_api.ts
  modules/hapi-engine/tokens/BUILD.bazel
  modules/hapi-engine/tokens/index.ts
  modules/hapi-engine/tokens/public_api.ts
  modules/module-map-ngfactory-loader/BUILD.bazel
  modules/module-map-ngfactory-loader/index.ts
  modules/module-map-ngfactory-loader/package.json
  modules/module-map-ngfactory-loader/public_api.ts
  tools/bazel.rc
  tools/bazel_stamp_vars.sh
  tools/defaults.bzl
  tsconfig.json
  yarn.lock
Owners: @vikerman, @MarkPieszak, @CaerusKaru, @FrozenPandaz, @Toxicable

Fix import of REQUEST token
  modules/express-engine/README.md
Owners: @vikerman, @FrozenPandaz

import from tokens
  modules/aspnetcore-engine/README.md
  modules/hapi-engine/README.md
Owners: @MarkPieszak, @vikerman, @CaerusKaru

build: add tslib to globals
  tools/defaults.bzl
Owners: @CaerusKaru, @vikerman

build: add TODO for macros
  tools/defaults.bzl
Owners: @CaerusKaru, @vikerman

build: fix note about default macros
  tools/defaults.bzl
Owners: @CaerusKaru, @vikerman

build: update to bazel 11.1
  .circleci/config.yml
  .travis.yml
  WORKSPACE
  package.json
  yarn.lock
Owners: @vikerman

build: remove legacy testing infra
  .travis.yml
  modules/aspnetcore-engine/tsconfig.spec.json
  modules/common/tsconfig.spec.json
  modules/express-engine/tsconfig.spec.json
  modules/hapi-engine/tsconfig.spec.json
  modules/module-map-ngfactory-loader/tsconfig.spec.json
  package.json
  test/jasmine.conf.json
  test/karma-test-shim.js
  test/karma.conf.js
  test/patch-testbed.js
  test/test-browser.ts
  test/test-server.ts
Owners: @vikerman, @MarkPieszak, @CaerusKaru, @FrozenPandaz, @Toxicable

test: rename public-api to public_api
  modules/aspnetcore-engine/tokens/tsconfig.lib.json
  modules/aspnetcore-engine/tsconfig.lib.json
  modules/common/tsconfig.lib.json
  modules/express-engine/tokens/tsconfig.lib.json
  modules/express-engine/tsconfig.lib.json
  modules/hapi-engine/tokens/tsconfig.lib.json
  modules/hapi-engine/tsconfig.lib.json
  modules/module-map-ngfactory-loader/tsconfig.lib.json
Owners: @MarkPieszak, @vikerman, @CaerusKaru, @FrozenPandaz, @Toxicable

ci: remove unused scripts
  .travis.yml
  scripts/ci/README.md
  scripts/ci/sources/mode.sh
  scripts/ci/travis-script.sh
Owners: @vikerman, @CaerusKaru

test(express-engine): add basic unit tests
  modules/express-engine/BUILD.bazel
  modules/express-engine/spec/index.spec.ts
  tools/package-tools/rollup-globals.ts
  tsconfig.json
  tslint.json
  yarn.lock
Owners: @vikerman, @FrozenPandaz, @CaerusKaru

feat(build): add README.md to output of all modules packages
  modules/aspnetcore-engine/BUILD.bazel
  modules/common/BUILD.bazel
  modules/express-engine/BUILD.bazel
  modules/hapi-engine/BUILD.bazel
  modules/module-map-ngfactory-loader/BUILD.bazel
Owners: @MarkPieszak, @vikerman, @CaerusKaru, @FrozenPandaz, @Toxicable

docs: reduce uneeded info in issue/pr templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @vikerman

build: add bazel publish scripts
  publish-next.sh
Owners: @vikerman

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @vikerman
/modules/common/*                                      @vikerman @CaerusKaru
/modules/express-engine/*                              @vikerman @FrozenPandaz
/modules/hapi-engine/*                                 @vikerman @CaerusKaru
/modules/module-map-ngfactory-loader                   @vikerman @Toxicable @FrozenPandaz

# Tooling
/scripts/**                                        @CaerusKaru @vikerman
/test/**                                           @CaerusKaru @vikerman
/tools/**                                          @CaerusKaru @vikerman

# Misc
/*                                                 @vikerman
/.github/**                                        @vikerman
/modules/*                                         @vikerman
