Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130

release: cut the v15.2.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v15.2.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v15.2.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update github/codeql-action action to v2.2.5
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update dependency zone.js to ^0.13.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.2.6
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  WORKSPACE
  modules/common/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

refactor(@nguniversal/common): remove Node.js v14 support
  .circleci/config.yml
  WORKSPACE
  modules/builders/package.json
  modules/common/package.json
  modules/express-engine/package.json
  package.json
Owners: @dgp1130, @alan-agius4, @CaerusKaru

build: update Angular to version 16
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  modules/builders/package.json
  modules/builders/src/prerender/index.ts
  modules/builders/src/static-generator/index.ts
  modules/common/clover/src/module.ts
  modules/common/package.json
  modules/express-engine/package.json
  modules/express-engine/schematics/utils/utils.ts
  package.json
  yarn.lock
Owners: @dgp1130, @alan-agius4, @CaerusKaru

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update dependency typescript to v5.0.0-dev.20230226
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

feat(@nguniversal/common): support rendering standalone application
  modules/common/engine/src/engine.ts
Owners: none

feat(@nguniversal/builders): add support for prerendering a standalone application
  modules/builders/src/prerender/worker.ts
Owners: @alan-agius4

feat(@nguniversal/express-engine): support rendering standalone application
  .bazelignore
  integration/express-engine-standalone/BUILD.bazel
  integration/express-engine-standalone/README.md
  integration/express-engine-standalone/angular.json
  integration/express-engine-standalone/browserslist
  integration/express-engine-standalone/e2e/protractor.conf.js
  integration/express-engine-standalone/e2e/src/app.e2e-spec.ts
  integration/express-engine-standalone/e2e/src/util.ts
  integration/express-engine-standalone/e2e/tsconfig.json
  integration/express-engine-standalone/karma.conf.js
  integration/express-engine-standalone/package.json
  integration/express-engine-standalone/server.ts
  integration/express-engine-standalone/src/app/app.component.ts
  integration/express-engine-standalone/src/app/app.config.ts
  integration/express-engine-standalone/src/assets/.gitkeep
  integration/express-engine-standalone/src/favicon.ico
  integration/express-engine-standalone/src/index.html
  integration/express-engine-standalone/src/main.server.ts
  integration/express-engine-standalone/src/main.ts
  integration/express-engine-standalone/src/polyfills.ts
  integration/express-engine-standalone/src/styles.css
  integration/express-engine-standalone/src/test.ts
  integration/express-engine-standalone/test.sh
  integration/express-engine-standalone/tsconfig.app.json
  integration/express-engine-standalone/tsconfig.json
  integration/express-engine-standalone/tsconfig.server.json
  integration/express-engine-standalone/tsconfig.spec.json
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update dependency typescript to v5.0.2
  package.json
  yarn.lock
Owners: @dgp1130

Added 'get' and '-' to 'server-side'
  README.md
Owners: @dgp1130

fix(README.md): Add get and hyphen to server-side
  README.md
Owners: @dgp1130

build: update dependency concurrently to v8
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-standalone/package.json
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  integration/common-engine/e2e/src/app.e2e-spec.ts
  integration/express-engine-ivy/e2e/src/app.e2e-spec.ts
  integration/express-engine-standalone/e2e/src/app.e2e-spec.ts
  modules/common/clover/src/module.ts
  modules/common/clover/src/styles_host.ts
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.interceptor.ts
  modules/common/src/transfer_http.ts
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: update actions/checkout action to v3.5.0
  .github/workflows/dev-infra.yml
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-standalone/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update dependency typescript to v5.0.3
  package.json
  yarn.lock
Owners: @dgp1130

feat(@nguniversal/common): add CSP support for inline styles
  integration/express-engine-csp-nonce/BUILD.bazel
  integration/express-engine-csp-nonce/README.md
  integration/express-engine-csp-nonce/angular.json
  integration/express-engine-csp-nonce/browserslist
  integration/express-engine-csp-nonce/e2e/protractor.conf.js
  integration/express-engine-csp-nonce/e2e/src/app.e2e-spec.ts
  integration/express-engine-csp-nonce/e2e/src/util.ts
  integration/express-engine-csp-nonce/e2e/tsconfig.json
  integration/express-engine-csp-nonce/karma.conf.js
  integration/express-engine-csp-nonce/package.json
  integration/express-engine-csp-nonce/server.ts
  integration/express-engine-csp-nonce/src/app/app-routing.module.ts
  integration/express-engine-csp-nonce/src/app/app.component.ts
  integration/express-engine-csp-nonce/src/app/app.module.ts
  integration/express-engine-csp-nonce/src/app/app.server.module.ts
  integration/express-engine-csp-nonce/src/assets/.gitkeep
  integration/express-engine-csp-nonce/src/environments/environment.prod.ts
  integration/express-engine-csp-nonce/src/environments/environment.ts
  integration/express-engine-csp-nonce/src/favicon.ico
  integration/express-engine-csp-nonce/src/index.html
  integration/express-engine-csp-nonce/src/main.server.ts
  integration/express-engine-csp-nonce/src/main.ts
  integration/express-engine-csp-nonce/src/polyfills.ts
  integration/express-engine-csp-nonce/src/styles.css
  integration/express-engine-csp-nonce/src/test.ts
  integration/express-engine-csp-nonce/test.sh
  integration/express-engine-csp-nonce/tsconfig.app.json
  integration/express-engine-csp-nonce/tsconfig.json
  integration/express-engine-csp-nonce/tsconfig.server.json
  integration/express-engine-csp-nonce/tsconfig.spec.json
  modules/common/engine/src/engine.ts
  modules/common/tools/src/inline-css-processor.ts
Owners: @CaerusKaru, @dgp1130, @alan-agius4

fix(@nguniversal/common): update TransferHttpResponse requiring body and headers
  modules/common/clover/src/transfer-http-cache/transfer-http-cache.interceptor.ts
  modules/common/src/transfer_http.ts
Owners: none

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

feat(@nguniversal/express-engine): add standalone support to `ng add`
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
  modules/express-engine/schematics/install/index.spec.ts
  modules/express-engine/schematics/install/index.ts
  modules/express-engine/schematics/testing/test-app.ts
Owners: none

release: cut the v16.0.0-next.0 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v16.0.0-next.0 release
  CHANGELOG.md
Owners: @dgp1130

release: bump the next branch to v16.1.0-next.0
  package.json
Owners: @dgp1130

docs: release notes for the v16.0.0-next.0 release
  CHANGELOG.md
Owners: @dgp1130

fix(@nguniversal/express-engine): update import for template server file
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
  modules/express-engine/schematics/install/index.spec.ts
Owners: none

fix(@nguniversal/express-engine): update import for template server file
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
  modules/express-engine/schematics/install/index.spec.ts
Owners: none

build: update github/codeql-action action to v2.2.11
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update minimum supported Node version from 16.13.0 -> 16.14.0
  .circleci/config.yml
  WORKSPACE
  modules/builders/package.json
  modules/common/package.json
  modules/express-engine/package.json
  package.json
Owners: @dgp1130, @alan-agius4, @CaerusKaru
