Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

test: stop architect runs
  modules/builders/src/ssr-dev-server/index.ts
Owners: @alan-agius4

build: update bazel ignore paths
  .bazelignore
  .circleci/config.yml
Owners: @dgp1130

build: update angular to 52ba2da
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update dependency @bazel/buildifier to v5.1.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update actions/checkout action to v3.0.1
  .github/workflows/dev-infra.yml
Owners: @dgp1130

build: update actions/checkout action to v3.0.1
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update actions/checkout action to v3.0.2
  .github/workflows/dev-infra.yml
Owners: @dgp1130

build: update actions/checkout action to v3.0.2
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update dependency @rollup/plugin-commonjs to v22
  package.json
  yarn.lock
Owners: @dgp1130

build: changes for primary branch rename
  .circleci/config.yml
  .github/workflows/scorecard.yml
  .ng-dev/github.ts
  renovate.json
Owners: @dgp1130

build: update github/codeql-action action to v2.1.9
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  WORKSPACE
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

fix(@nguniversal/builders): address service worker generation failures
  modules/builders/src/prerender/index.ts
  modules/builders/src/static-generator/index.ts
Owners: @alan-agius4

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

fix(@nguniversal/builders): address service worker generation failures
  modules/builders/src/prerender/index.ts
  modules/builders/src/static-generator/index.ts
Owners: @alan-agius4

build: update Angular packages to latest patch version
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

ci: update chrome driver to 101.0.4951.41
  .circleci/config.yml
Owners: none

fix(@nguniversal/builders): address service worker generation failures
  modules/builders/src/prerender/index.ts
  modules/builders/src/static-generator/index.ts
Owners: @alan-agius4

build: update Angular packages to latest patch version
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: clean up references to old `master` branch
  .github/ISSUE_TEMPLATE/Bug.md
  .github/PULL_REQUEST_TEMPLATE/Improvement.md
  .github/PULL_REQUEST_TEMPLATE/New_Feature.md
  CONTRIBUTING.md
  README.md
  docs/angular2-universal-migration.md
  integration/clover/README.md
  integration/common-engine/README.md
  integration/express-engine-ivy-hybrid/README.md
  integration/express-engine-ivy-hybrid/server.ts
  integration/express-engine-ivy/README.md
  integration/express-engine-ivy/server.ts
  modules/builders/testing/hello-world-app/README.md
  modules/common/README.md
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: @dgp1130, @CaerusKaru, @alan-agius4

release: cut the v13.1.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v13.1.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v13.1.1 release
  CHANGELOG.md
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: bumps version of `main` branch to `14.0.0-next.0` so the next release will be v14, not v13.2
  package.json
Owners: @dgp1130

build: update dependency rollup to ~2.72.0
  package.json
  yarn.lock
Owners: @dgp1130

release: cut the v14.0.0-next.0 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v14.0.0-next.0 release
  CHANGELOG.md
Owners: @dgp1130

release: bump the next branch to v14.1.0-next.0
  package.json
Owners: @dgp1130

docs: release notes for the v14.0.0-next.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update dependency puppeteer to v14
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular to f557392
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action action to v2.1.10
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: lock file maintenance
  yarn.lock
Owners: @dgp1130

build: update github/codeql-action digest to 2f58583
  .github/workflows/scorecard.yml
Owners: @dgp1130

release: cut the v14.0.0-rc.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

build: update Angular packages to 14.0.0-rc.0
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130
