Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @kyliau, @alan-agius4, @CaerusKaru, @FrozenPandaz, @Toxicable

build: update angular deps to version 11
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

build: update karma to version 5.2.2
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

ci: update puppeteer
  .circleci/config.yml
  package.json
  yarn.lock
Owners: @kyliau

build: update node-fetch to version ^2.2.0
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update puppeteer to version 5.3.0
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update rollup to version ~2.27.0
  package.json
  yarn.lock
Owners: @kyliau

build: update jasmine-spec-reporter to version 6.0.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update rollup to version ~2.28.0
  package.json
  yarn.lock
Owners: @kyliau

build: update tslint rules to remove usage of whitelist in comments
  tools/tslint-rules/noRxjsPatchImportsRule.ts
Owners: @CaerusKaru, @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

style: fix typo in comment
  tools/tslint-rules/noRxjsPatchImportsRule.ts
Owners: @CaerusKaru, @kyliau

build: update tslint rules to remove usage of whitelist in comments
  tools/tslint-rules/noRxjsPatchImportsRule.ts
Owners: @CaerusKaru, @kyliau

ci: update configuration to use new CircleCI docker images
  .circleci/config.yml
Owners: none

ci: update configuration to use new CircleCI docker images
  .circleci/config.yml
Owners: none

build: update puppeteer to version 5.3.1
  package.json
  yarn.lock
Owners: @kyliau

refactor: remove usage on `@schematics/angular` old json helpers
  modules/common/schematics/add/index.ts
Owners: none

docs: fix typo
  docs/transfer-http.md
Owners: none

build: update codelyzer to version 6.0.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

feat: enable absolute URL handling by default for all engines
  modules/common/engine/src/engine.ts
Owners: none

build: update webpack to version ^5.0.0
  integration/common/package.json
Owners: @CaerusKaru, @kyliau

Updated the express engine to use the absolute url flag: https://github.com/CaerusKaru/angular/blob/98c047b76360218e0b910298416eb1c56b56f163/packages/platform-server/src/tokens.ts#L35
  modules/common/engine/src/engine.ts
Owners: none

ci: bump to lastest sha of angular/dev-infra's lock-closed action
  .github/workflows/lock-closed.yml
Owners: @kyliau

build: update `lock-closed` GitHub action to latest version
  .github/workflows/lock-closed.yml
Owners: @kyliau

build: update puppeteer to version 5.4.0
  package.json
  yarn.lock
Owners: @kyliau

build: update puppeteer to version 5.4.0
  .circleci/config.yml
  package.json
  yarn.lock
Owners: @kyliau

build: update build_bazel_rules_nodejs to 2.0.2
  .bazelversion
  WORKSPACE
  modules/BUILD.bazel
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

build: update build_bazel_rules_nodejs to version 2.2.2
  WORKSPACE
Owners: @kyliau

build: update karma to version 5.2.3
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update @angular-devkit/architect to version ^0.1002.0
  package.json
  yarn.lock
Owners: @kyliau

build: update @angular-devkit/build-angular to version ^0.1002.0
  package.json
  yarn.lock
Owners: @kyliau

build: update angular packages to version 11
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

build: update puppeteer to version 5.4.1
  package.json
  yarn.lock
Owners: @kyliau

fix(builders): improve prerendering logging
  modules/builders/BUILD.bazel
  modules/builders/package.json
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/render.ts
  package.json
  yarn.lock
Owners: @alan-agius4, @kyliau

build: update @bazel/ibazel to version 0.14.0
  package.json
  yarn.lock
Owners: @kyliau

test: avoid doing differential loading in UT
  modules/builders/testing/hello-world-app/browserslist
Owners: @alan-agius4

fix: don't bundle common engine in hapi and express engine
  modules/builders/BUILD.bazel
  modules/builders/testing/utils.ts
  tools/defaults.bzl
Owners: @alan-agius4, @CaerusKaru, @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @kyliau
/modules/builders                                      @alan-agius4
/modules/common/*                                      @kyliau @CaerusKaru
/modules/express-engine/*                              @kyliau @FrozenPandaz
/modules/hapi-engine/*                                 @kyliau @CaerusKaru
/modules/module-map-ngfactory-loader                   @kyliau @Toxicable @FrozenPandaz

# Tooling
/scripts/**                                        @CaerusKaru @kyliau
/integration/**                                    @CaerusKaru @kyliau
/tools/**                                          @CaerusKaru @kyliau

# Misc
/*                                                 @kyliau
/.github/**                                        @kyliau
/modules/*                                         @kyliau
