Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @kyliau, @alan-agius4, @CaerusKaru, @FrozenPandaz, @Toxicable

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @kyliau
/modules/builders                                      @alan-agius4
/modules/common/*                                      @kyliau @CaerusKaru
/modules/express-engine/*                              @kyliau @FrozenPandaz
/modules/hapi-engine/*                                 @kyliau @CaerusKaru
/modules/module-map-ngfactory-loader                   @kyliau @Toxicable @FrozenPandaz

# Tooling
/scripts/**                                        @CaerusKaru @kyliau
/integration/**                                    @CaerusKaru @kyliau
/tools/**                                          @CaerusKaru @kyliau

# Misc
/*                                                 @kyliau
/.github/**                                        @kyliau
/modules/*                                         @kyliau

build: update build_bazel_rules_nodejs to version 1.4.1
  WORKSPACE
Owners: @kyliau

build: update karma-typescript to version ^5.0.0
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

fix: ng update showing packages that do not exist in my package
  modules/aspnetcore-engine/package.json
  modules/builders/package.json
  modules/common/package.json
  modules/express-engine/package.json
  modules/hapi-engine/package.json
  modules/socket-engine/package.json
Owners: @MarkPieszak, @kyliau, @alan-agius4, @CaerusKaru, @FrozenPandaz

ci: remove cache key fallback
  .circleci/config.yml
Owners: none

fix(builders): don't spawn server until browser build finishes
  modules/builders/src/ssr-dev-server/index.ts
Owners: @alan-agius4

build: update @bazel/buildifier to version ^2.0.0
  package.json
  yarn.lock
Owners: @kyliau

build: update tslint to version ^6.0.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

build: update angular-in-memory-web-api to version ^0.10.0
  integration/express-engine-ivy-prerender/package.json
Owners: @CaerusKaru, @kyliau

docs: fix variable name in commented out code (`app` --> `server`)
  integration/express-engine-ivy-prerender/server.ts
  integration/express-engine-ivy/server.ts
  integration/express-engine-ve/server.ts
  modules/builders/testing/hello-world-app/server.ts
  modules/express-engine/README.md
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: @CaerusKaru, @kyliau, @alan-agius4, @FrozenPandaz

build: update to version
  yarn.lock
Owners: @kyliau

build: update ts-node to version 8.7.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

build: update to typescript 3.8
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

build: update ts-node to version 8.8.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update jasmine-spec-reporter to version 5.0.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update @types/express-serve-static-core to version 4.17.3
  package.json
  yarn.lock
Owners: @kyliau

build: update karma-jasmine-html-reporter to version 1.5.3
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update version of Angular packages
  tools/defaults.bzl
Owners: @CaerusKaru, @kyliau

build: update codelyzer to version 5.2.2
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update @bazel/hide-bazel-files to version ~1.5.0
  WORKSPACE
  package.json
  yarn.lock
Owners: @kyliau

release: v9.0.3
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

release: v9.1.0
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

docs: @nguniversal/module-map-ngfactory-loader deprecation notice
  modules/module-map-ngfactory-loader/README.md
Owners: @kyliau, @Toxicable, @FrozenPandaz

docs: @nguniversal/module-map-ngfactory-loader deprecation notice
  modules/module-map-ngfactory-loader/README.md
Owners: @kyliau, @Toxicable, @FrozenPandaz

docs: @nguniversal/module-map-ngfactory-loader deprecation notice
  modules/module-map-ngfactory-loader/README.md
Owners: @kyliau, @Toxicable, @FrozenPandaz

tests: remove module from tsconfig.server.json
  integration/express-engine-ivy-prerender/tsconfig.server.json
  integration/express-engine-ivy/tsconfig.server.json
  integration/express-engine-ve/tsconfig.server.json
  integration/hapi-engine-ivy/tsconfig.server.json
  integration/hapi-engine-ve/tsconfig.server.json
Owners: @CaerusKaru, @kyliau

build: update @types/express to version 4.17.4
  package.json
  yarn.lock
Owners: @kyliau

build: update tslint to version 6.1.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update ts-node to version 8.8.2
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

fix(prerender): use browser builder's index option
  modules/builders/BUILD.bazel
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/render.ts
Owners: @alan-agius4

build: update @types/express-serve-static-core to version 4.17.4
  package.json
  yarn.lock
Owners: @kyliau

fix(prerender): added tests and small changes
  integration/express-engine-ivy-prerender/angular.json
  modules/builders/BUILD.bazel
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/utils.spec.ts
  modules/builders/src/prerender/utils.ts
Owners: @CaerusKaru, @kyliau, @alan-agius4

fix(prerender): more small changes
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/utils.spec.ts
  modules/builders/src/prerender/utils.ts
Owners: @alan-agius4

📝 docs: fix existing typo in readme
  README.md
Owners: @kyliau

build: update @bazel/hide-bazel-files to version ~1.6.0
  WORKSPACE
  package.json
  yarn.lock
Owners: @kyliau

build: update types/express
  modules/express-engine/tokens/BUILD.bazel
  modules/express-engine/tokens/injection-tokens.ts
  package.json
  yarn.lock
Owners: @kyliau
