Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @kyliau, @alan-agius4, @CaerusKaru, @FrozenPandaz, @Toxicable

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @kyliau
/modules/builders                                      @alan-agius4
/modules/common/*                                      @kyliau @CaerusKaru
/modules/express-engine/*                              @kyliau @FrozenPandaz
/modules/hapi-engine/*                                 @kyliau @CaerusKaru
/modules/module-map-ngfactory-loader                   @kyliau @Toxicable @FrozenPandaz

# Tooling
/scripts/**                                        @CaerusKaru @kyliau
/integration/**                                    @CaerusKaru @kyliau
/tools/**                                          @CaerusKaru @kyliau

# Misc
/*                                                 @kyliau
/.github/**                                        @kyliau
/modules/*                                         @kyliau

fix(builders): send `X-Forwarded` headers when using ssr-dev-server
  modules/builders/src/ssr-dev-server/index.spec.ts
  modules/builders/src/ssr-dev-server/index.ts
Owners: @alan-agius4

test: disable flaky ci test
  modules/builders/src/ssr-dev-server/index.spec.ts
Owners: @alan-agius4

build: update nodejs rules to 1.0+
  WORKSPACE
  modules/builders/BUILD.bazel
  modules/common/BUILD.bazel
  modules/common/schematics/BUILD.bazel
  modules/express-engine/BUILD.bazel
  modules/express-engine/schematics/BUILD.bazel
  modules/hapi-engine/BUILD.bazel
  modules/hapi-engine/schematics/BUILD.bazel
  package.json
  scripts/package-builder.sh
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @alan-agius4, @CaerusKaru, @FrozenPandaz

fix(builders): default to a minimum of 1 CPU when sharding builds.
  modules/builders/src/prerender/utils.ts
Owners: @alan-agius4

fix(builders): default to a minimum of 1 CPU when sharding builds
  modules/builders/src/prerender/utils.ts
Owners: @alan-agius4

build: update build_bazel_rules_nodejs to version 1.2.0
  WORKSPACE
Owners: @kyliau

build: update concurrently to version 5.1.0
  integration/common/package.json
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update rollup to version ~1.30.0
  package.json
  yarn.lock
Owners: @kyliau

build: change bazel nodejs rules to `~`
  package.json
  yarn.lock
Owners: @kyliau

add "/" as the default route for the prerender builder
  modules/common/schematics/add/index.ts
Owners: none

ci: reduce ci steps
  .circleci/config.yml
Owners: none

build: update @bazel/hide-bazel-files to version ~1.2.0
  package.json
  yarn.lock
Owners: @kyliau

build: update protractor to version 5.4.3
  package.json
  yarn.lock
Owners: @kyliau

build: update build_bazel_rules_nodejs to version 1.2.1
  WORKSPACE
Owners: @kyliau

build: update build_bazel_rules_nodejs to version 1.2.2
  WORKSPACE
Owners: @kyliau

build: update rollup to version ~1.31.0
  package.json
  yarn.lock
Owners: @kyliau

build: update build_bazel_rules_nodejs to version 1.2.4
  WORKSPACE
Owners: @kyliau

build: update karma-jasmine-html-reporter to version 1.5.2
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update packages for release
  tools/defaults.bzl
Owners: @CaerusKaru, @kyliau

build: update @bazel/hide-bazel-files to version ~1.3.0
  WORKSPACE
  package.json
  yarn.lock
Owners: @kyliau

Change ServerAppModule to AppServerModule
  modules/aspnetcore-engine/README.md
Owners: @MarkPieszak, @kyliau

build: update karma-jasmine to version 3.1.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update @bazel/bazel to version 2.1.0
  package.json
  yarn.lock
Owners: @kyliau

docs(socket-engine): Update README
  modules/socket-engine/README.md
Owners: none

Update server.ts to use ES6 imports
  modules/socket-engine/README.md
Owners: none

build: update http-proxy-middleware to version ^0.21.0
  package.json
  yarn.lock
Owners: @kyliau

build: update @bazel/ibazel to version ^0.12.0
  package.json
  yarn.lock
Owners: @kyliau

build: update http-proxy-middleware to version ^1.0.0
  package.json
  yarn.lock
Owners: @kyliau

build: update @types/express and http-proxy-middleware
  modules/builders/BUILD.bazel
  modules/builders/package.json
  modules/builders/src/ssr-dev-server/index.ts
  modules/express-engine/tokens/BUILD.bazel
  modules/express-engine/tokens/injection-tokens.ts
  package.json
  yarn.lock
Owners: @alan-agius4, @kyliau

fix(builders): only remove reload script leading slash when having a public host with a path name
  modules/builders/src/ssr-dev-server/index.ts
Owners: @alan-agius4

build: update to version
  yarn.lock
Owners: @kyliau

build: add `@types/node` resolutions
  package.json
Owners: @kyliau

build: Change --symlink_prefix to dist/
  .bazelrc
Owners: @kyliau

build: Update publish script
  docs/process/release.md
  publish-next.sh
  publish.sh
  scripts/package-builder.sh
Owners: @kyliau, @CaerusKaru

build: update tslib to version ~1.11.0
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update rollup to version ~1.32.0
  package.json
  yarn.lock
Owners: @kyliau

build: update @bazel/hide-bazel-files to version ~1.4.0
  WORKSPACE
  package.json
  yarn.lock
Owners: @kyliau

docs: fix typo
  modules/aspnetcore-engine/README.md
Owners: @MarkPieszak, @kyliau

build: update @types/express to version 4.17.3
  package.json
  yarn.lock
Owners: @kyliau
