Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alan-agius4, @dgp1130, @CaerusKaru

release: cut the v14.0.0-rc.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.0.0-rc.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.0.0-rc.1 release
  CHANGELOG.md
Owners: @dgp1130

build: update scorecard action dependencies
  .github/workflows/scorecard.yml
Owners: @dgp1130

build: update all non-major dependencies
  package.json
  yarn.lock
Owners: @dgp1130

release: cut the v14.0.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.0.0 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v14.0.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular to ec8cae4
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

ci: update chrome driver version to `103.0.5060.24`
  .circleci/config.yml
Owners: none

fix(@nguniversal/common): correctly handle headers for jsdom in Clover
  modules/common/clover/server/src/custom-resource-loader.ts
  modules/common/clover/server/src/server-engine.ts
Owners: none

fix(@nguniversal/common): correctly handle headers for jsdom in Clover
  modules/common/clover/server/src/custom-resource-loader.ts
  modules/common/clover/server/src/server-engine.ts
Owners: none

build: update dependency typescript to v4.7.3
  package.json
  yarn.lock
Owners: @dgp1130

build: update angular
  .github/workflows/dev-infra.yml
  .github/workflows/lock-closed.yml
  package.json
  yarn.lock
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update dependency angular-in-memory-web-api to ^0.14.0
  integration/clover/package.json
  integration/express-engine-ivy-hybrid/package.json
Owners: @CaerusKaru, @dgp1130, @alan-agius4

feat(@nguniversal/common): add custom jsdom option
  modules/common/clover/README.md
  modules/common/clover/server/src/custom-resource-loader.ts
  modules/common/clover/server/src/server-engine.ts
Owners: none

docs: format clover readme.md
  modules/common/clover/README.md
Owners: none

build: update angular packages to 14.1.0-next
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

release: cut the v14.0.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.0.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v14.0.1 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v14.1.0-next.0 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v14.1.0-next.0 release
  CHANGELOG.md
Owners: @dgp1130

build: update all non-major dependencies
  integration/common-engine/package.json
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @dgp1130, @alan-agius4

build: update ng-dev and account for ESM-config changes
  .ng-dev/commit-message.mts
  .ng-dev/config.mts
  .ng-dev/config.ts
  .ng-dev/format.mts
  .ng-dev/github.mts
  .ng-dev/pull-request.mts
  .ng-dev/release.mts
  .ng-dev/tsconfig.json
  package.json
  scripts/package-builder.d.ts
  scripts/package-builder.js
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

fix(@nguniversal/builders): correctly handle path normalizations on Windows
  modules/builders/src/prerender/index.ts
  modules/builders/src/static-generator/index.ts
Owners: @alan-agius4

build: avoid use of ts-node wrapper script as it breaks child process forking
  package.json
  yarn.lock
Owners: @dgp1130

build: update ng-dev and account for ESM-config changes
  .ng-dev/commit-message.mts
  .ng-dev/config.mts
  .ng-dev/config.ts
  .ng-dev/format.mts
  .ng-dev/github.mts
  .ng-dev/pull-request.mts
  .ng-dev/release.mts
  .ng-dev/tsconfig.json
  package.json
  scripts/package-builder.d.ts
  scripts/package-builder.js
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: remove deep imports from dev-infra usages
  .ng-dev/commit-message.mts
  .ng-dev/format.mts
  .ng-dev/github.mts
Owners: none

build: update ng-dev and account for ESM-config changes
  .ng-dev/commit-message.mts
  .ng-dev/config.mts
  .ng-dev/config.ts
  .ng-dev/format.mts
  .ng-dev/github.mts
  .ng-dev/pull-request.mts
  .ng-dev/release.mts
  .ng-dev/tsconfig.json
  package.json
  scripts/package-builder.d.ts
  scripts/package-builder.js
  yarn.lock
Owners: @dgp1130, @CaerusKaru, @alan-agius4

build: avoid use of ts-node wrapper script as it breaks child process forking
  package.json
  yarn.lock
Owners: @dgp1130

fix(@nguniversal/builders): correctly handle path normalizations on Windows
  modules/builders/src/prerender/index.ts
  modules/builders/src/static-generator/index.ts
Owners: @alan-agius4

release: cut the v14.0.2 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

release: cut the v14.0.2 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

docs: release notes for the v14.0.2 release
  CHANGELOG.md
Owners: @dgp1130

release: cut the v14.1.0-next.1 release
  CHANGELOG.md
  package.json
Owners: @dgp1130

.github/CODEOWNERS:

/modules/builders                                      @alan-agius4
/modules/common/*                                      @dgp1130 @CaerusKaru @alan-agius4
/modules/express-engine/*                              @dgp1130 @alan-agius4

# Tooling
/scripts/**                                        @CaerusKaru @dgp1130 @alan-agius4
/integration/**                                    @CaerusKaru @dgp1130 @alan-agius4
/tools/**                                          @CaerusKaru @dgp1130 @alan-agius4

# Misc
/*                                                 @dgp1130
/.github/**                                        @dgp1130
/modules/*                                         @dgp1130
