Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @kyliau, @alan-agius4, @CaerusKaru, @FrozenPandaz, @Toxicable

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @kyliau
/modules/builders                                      @alan-agius4
/modules/common/*                                      @kyliau @CaerusKaru
/modules/express-engine/*                              @kyliau @FrozenPandaz
/modules/hapi-engine/*                                 @kyliau @CaerusKaru
/modules/module-map-ngfactory-loader                   @kyliau @Toxicable @FrozenPandaz

# Tooling
/scripts/**                                        @CaerusKaru @kyliau
/integration/**                                    @CaerusKaru @kyliau
/tools/**                                          @CaerusKaru @kyliau

# Misc
/*                                                 @kyliau
/.github/**                                        @kyliau
/modules/*                                         @kyliau

Localized routes
  modules/builders/src/prerender/index.ts
Owners: @alan-agius4

Localized routes
  modules/builders/src/prerender/index.ts
Owners: @alan-agius4

test: add unit test for aspnet engine
  modules/aspnetcore-engine/BUILD.bazel
  modules/aspnetcore-engine/spec/index.spec.ts
  modules/aspnetcore-engine/src/main.ts
  modules/aspnetcore-engine/testing/mock.server.module.ts
Owners: @MarkPieszak, @kyliau

refactor(common): mark private methods with private keyword
  modules/common/engine/src/engine.ts
Owners: none

feat(aspnetcore-engine): fixes for delaying platform destruction
  modules/aspnetcore-engine/package.json
  modules/aspnetcore-engine/src/interfaces/engine-render-result.ts
  modules/aspnetcore-engine/src/main.ts
  modules/aspnetcore-engine/src/platform-server-utils.ts
Owners: @MarkPieszak, @kyliau

feat(aspnetcore-engine): support .NET Core version 3
  modules/aspnetcore-engine/README.md
  modules/aspnetcore-engine/src/interfaces/engine-options.ts
  modules/aspnetcore-engine/src/interfaces/engine-render-result.ts
  modules/aspnetcore-engine/src/main.ts
Owners: @MarkPieszak, @kyliau

refactor(common): remove FileLoader from API
  modules/common/engine/private_api.ts
Owners: none

refactor(common): remove unused file
  modules/common/tokens/private_api.ts
Owners: none

Lint error fixed
  modules/builders/src/prerender/index.ts
Owners: @alan-agius4

docs: fix typo in engine name
  modules/aspnetcore-engine/README.md
Owners: @MarkPieszak, @kyliau

build: update karma to version 6.0.0
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

refactor: remove redundant catch block error variable
  modules/common/engine/src/utils.ts
Owners: none

build: update karma to version 6.0.1
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

fix(@nguniversal/aspnetcore-engine): correctly set publicPath
  modules/aspnetcore-engine/src/main.ts
Owners: none

build: setup ng-dev tooling to perform merges
  .ng-dev/config.ts
  .ng-dev/github.ts
  .ng-dev/merge.ts
  .ng-dev/release.ts
  package.json
  yarn.lock
Owners: @kyliau

build: update @angular/dev-infra-private to version
  package.json
  yarn.lock
Owners: @kyliau

fix(@nguniversal/aspnetcore-engine): correctly set publicPath
  modules/aspnetcore-engine/src/main.ts
Owners: none

test: remove extra dependency
  integration/common/package.json
  integration/common/src/helloworld/client.ts
Owners: @CaerusKaru, @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update karma to version 6.0.2
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update karma to version 6.0.3
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

ci: add commit message validation
  .circleci/config.yml
  .ng-dev/commit-message.ts
  .ng-dev/config.ts
  .ng-dev/release.ts
Owners: none

release: v11.1.1
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

build: update to version
  yarn.lock
Owners: @kyliau

build: update karma to version 6.0.4
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
Owners: @CaerusKaru, @kyliau

build: update puppeteer to version 6.0.0
  package.json
  yarn.lock
Owners: @kyliau

build: update to bazel 4
  .bazelrc
  .bazelversion
  WORKSPACE
Owners: @kyliau

build: update puppeteer to version 6
  .circleci/config.yml
  package.json
  yarn.lock
Owners: @kyliau
