Repository angular/universal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkPieszak, @kyliau, @alan-agius4, @CaerusKaru, @FrozenPandaz, @Toxicable

.github/CODEOWNERS:

/modules/aspnetcore-engine/*                           @MarkPieszak @kyliau
/modules/builders                                      @alan-agius4
/modules/common/*                                      @kyliau @CaerusKaru
/modules/express-engine/*                              @kyliau @FrozenPandaz
/modules/hapi-engine/*                                 @kyliau @CaerusKaru
/modules/module-map-ngfactory-loader                   @kyliau @Toxicable @FrozenPandaz

# Tooling
/scripts/**                                        @CaerusKaru @kyliau
/integration/**                                    @CaerusKaru @kyliau
/tools/**                                          @CaerusKaru @kyliau

# Misc
/*                                                 @kyliau
/.github/**                                        @kyliau
/modules/*                                         @kyliau

build: remove deletion-target tslint rule and increase line length to 140
  tools/tslint-rules/deletionTargetRule.ts
  tslint.json
Owners: @CaerusKaru, @kyliau

refactor: major clean up of all engines
  modules/aspnetcore-engine/BUILD.bazel
  modules/aspnetcore-engine/package.json
  modules/aspnetcore-engine/src/file-loader.ts
  modules/aspnetcore-engine/src/main.ts
  modules/builders/src/prerender/utils.spec.ts
  modules/common/BUILD.bazel
  modules/common/engine/private_api.ts
  modules/common/engine/src/engine.ts
  modules/common/engine/src/file-loader.ts
  modules/common/engine/src/index.ts
  modules/common/engine/src/interfaces.ts
  modules/common/engine/src/utils.ts
  modules/common/src/state-transfer-initializer/module.ts
  modules/common/tokens/BUILD.bazel
  modules/common/tokens/public_api.ts
  modules/common/tokens/src/tokens.ts
  modules/express-engine/src/file-loader.ts
  modules/express-engine/src/main.ts
  modules/hapi-engine/public_api.ts
  modules/hapi-engine/src/file-loader.ts
  modules/hapi-engine/src/main.ts
  tools/defaults.bzl
Owners: @MarkPieszak, @kyliau, @alan-agius4, @CaerusKaru

feat(builders): support service worker generation with prerendering
  modules/builders/BUILD.bazel
  modules/builders/src/prerender/index.spec.ts
  modules/builders/src/prerender/index.ts
  modules/builders/testing/hello-world-app/angular.json
  package.json
  yarn.lock
Owners: @alan-agius4, @kyliau

fix: remove extractCss from ssr-dev-server builder
  integration/express-engine-ivy-prerender/angular.json
  integration/express-engine-ivy/angular.json
  integration/express-engine-ve/angular.json
  integration/hapi-engine-ivy/angular.json
  integration/hapi-engine-ve/angular.json
  modules/builders/src/ssr-dev-server/index.ts
  modules/builders/testing/hello-world-app/angular.json
Owners: @CaerusKaru, @kyliau, @alan-agius4

build: update to version
  yarn.lock
Owners: @kyliau

build: update @bazel/jasmine to version 2.3.0
  WORKSPACE
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update puppeteer to version 5.5.0
  package.json
  yarn.lock
Owners: @kyliau

build: update @bazel/jasmine to version 2.3.1
  WORKSPACE
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

fix(hapi-engine): ng-add schematic
  modules/hapi-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: none

fix(hapi-engine): ng-add schematic
  modules/hapi-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: none

build: update ts-node to version 9.1.0
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

release: v11.0.1
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

build: update angular dependencies to v11.1 pre-release
  angular-metadata.tsconfig.json
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

build: update ts-node to version 9.1.1
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/package.json
  package.json
  yarn.lock
Owners: @CaerusKaru, @kyliau

feat: add hybrid rendering support
  integration/express-engine-ivy/server.ts
  integration/express-engine-ve/server.ts
  integration/hapi-engine-ivy/server.ts
  integration/hapi-engine-ve/server.ts
Owners: @CaerusKaru, @kyliau

build: update to TypeScript 4.1.0
  package.json
  tools/defaults.bzl
  yarn.lock
Owners: @kyliau, @CaerusKaru

build: update to version
  yarn.lock
Owners: @kyliau

ci: update remaining reference to old pr targeting system
  renovate.json
Owners: @kyliau

ci: add `action: merge` label to renovate PRs
  renovate.json
Owners: @kyliau

fix(builders): add missing peerDependencies to @angular-devkit/build-angular
  modules/builders/package.json
  tools/defaults.bzl
Owners: @alan-agius4, @CaerusKaru, @kyliau

feat: enable inlining of critical CSS optimizations
  integration/express-engine-ivy-prerender/package.json
  integration/express-engine-ivy/e2e/src/app.e2e-spec.ts
  integration/express-engine-ivy/package.json
  integration/express-engine-ivy/server.ts
  integration/express-engine-ivy/src/styles.css
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/e2e/src/app.e2e-spec.ts
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ivy/server.ts
  integration/hapi-engine-ivy/src/styles.css
  integration/hapi-engine-ve/package.json
  integration/hapi-engine-ve/server.ts
  modules/builders/BUILD.bazel
  modules/builders/package.json
  modules/builders/src/prerender/index.spec.ts
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/render.ts
  modules/builders/testing/hello-world-app/angular.json
  modules/common/engine/BUILD.bazel
  modules/common/engine/private_api.ts
  modules/common/engine/src/engine.ts
  modules/common/engine/src/index.ts
  modules/common/engine/src/inline-css-processor.ts
  modules/common/engine/tsconfig.json
  modules/common/package.json
  modules/express-engine/src/main.ts
  modules/hapi-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
  package.json
  tools/defaults.bzl
Owners: @CaerusKaru, @kyliau, @alan-agius4

build: update to version
  yarn.lock
Owners: @kyliau

test: update prerendering tests to test hybrid mode
  integration/express-engine-ivy-hybrid/README.md
  integration/express-engine-ivy-hybrid/angular.json
  integration/express-engine-ivy-hybrid/browserslist
  integration/express-engine-ivy-hybrid/e2e/protractor.conf.js
  integration/express-engine-ivy-hybrid/e2e/src/app.e2e-spec.ts
  integration/express-engine-ivy-hybrid/e2e/src/util.ts
  integration/express-engine-ivy-hybrid/e2e/tsconfig.json
  integration/express-engine-ivy-hybrid/karma.conf.js
  integration/express-engine-ivy-hybrid/package.json
  integration/express-engine-ivy-hybrid/server.ts
  integration/express-engine-ivy-hybrid/src/app/app-routing.module.ts
  integration/express-engine-ivy-hybrid/src/app/app.component.ts
  integration/express-engine-ivy-hybrid/src/app/app.module.ts
  integration/express-engine-ivy-hybrid/src/app/app.server.module.ts
  integration/express-engine-ivy-hybrid/src/app/homepage.component.ts
  integration/express-engine-ivy-hybrid/src/app/pokedex.component.ts
  integration/express-engine-ivy-hybrid/src/app/pokemon.service.ts
  integration/express-engine-ivy-hybrid/src/assets/.gitkeep
  integration/express-engine-ivy-hybrid/src/environments/environment.prod.ts
  integration/express-engine-ivy-hybrid/src/environments/environment.ts
  integration/express-engine-ivy-hybrid/src/favicon.ico
  integration/express-engine-ivy-hybrid/src/index.html
  integration/express-engine-ivy-hybrid/src/main.server.ts
  integration/express-engine-ivy-hybrid/src/main.ts
  integration/express-engine-ivy-hybrid/src/polyfills.ts
  integration/express-engine-ivy-hybrid/src/styles.css
  integration/express-engine-ivy-hybrid/src/test.ts
  integration/express-engine-ivy-hybrid/tsconfig.app.json
  integration/express-engine-ivy-hybrid/tsconfig.json
  integration/express-engine-ivy-hybrid/tsconfig.server.json
  integration/express-engine-ivy-hybrid/tsconfig.spec.json
  integration/express-engine-ivy-prerender/e2e/src/app.e2e-spec.ts
  integration/express-engine-ivy-prerender/e2e/src/app.po.ts
  modules/builders/src/prerender/index.ts
  modules/builders/src/prerender/render.ts
  modules/builders/src/prerender/utils.ts
Owners: @CaerusKaru, @kyliau, @alan-agius4

feat(common): add hybrid rendering support
  modules/common/engine/src/engine.ts
  modules/common/engine/src/utils.ts
Owners: none

(FEAT) improve DX and add SSL support
  docs/window-shims-and-polyfills.md
  modules/express-engine/README.md
  modules/express-engine/package.json
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
  modules/express-engine/schematics/install/files/server-tools/add-ssl.ts
  modules/express-engine/schematics/install/files/server-tools/server-settings.interface.ts
  modules/express-engine/schematics/install/files/server-tools/windows-shims-and-polyfills.ts
  tools/defaults.bzl
Owners: @kyliau, @FrozenPandaz, @CaerusKaru

Update modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
  modules/express-engine/schematics/install/files/__serverFileName@stripTsExtension__.ts
Owners: none

build: update @bazel/jasmine to version 2.3.2
  WORKSPACE
  package.json
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

Compare urls to absolute url
  modules/common/src/transfer_http.ts
Owners: none

build: update tslib to version ~2.1.0
  package.json
  yarn.lock
Owners: @kyliau

build: update package lock
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

build: update to version
  yarn.lock
Owners: @kyliau

fix(lock-closed): update from lock-bot-token to lock-bot-key
  .github/workflows/lock-closed.yml
Owners: @kyliau

Localized routes
  modules/builders/src/prerender/index.ts
Owners: @alan-agius4

Localized routes
  modules/builders/src/prerender/index.ts
Owners: @alan-agius4
