Repository angular/universal, pull requests merged in 2018-12, with the labels that each got.

#1105 Fix typo in express template
  modules/express-engine/schematics/install/files/root/__serverFileName@stripTsExtension__.ts
Labels: cla: yes

#1090 fix(express-engine): remove unneeded dep from schematics server
  modules/express-engine/schematics/install/files/root/__serverFileName@stripTsExtension__.ts
Labels: PR action: review, PR target: master only, cla: yes, comp: express-engine

#1104 Is not working if DOMContentLoaded already fired
  modules/common/src/state-transfer-initializer/module.ts
Labels: PR action: merge, PR state: LGTM, PR target: master only, cla: yes, comp: common

#1110 build: add back bazelrc
  .bazelrc
  tools/bazel-stamp-vars.sh
Labels: P0: urgent, PR action: merge, PR state: LGTM, PR target: master only, cla: yes, comp: build

#897 feat(modules): pass in absolute URL as default for view rendering
  modules/aspnetcore-engine/src/main.ts
  modules/express-engine/src/main.ts
  modules/hapi-engine/src/main.ts
Labels: PR action: merge, PR state: LGTM, PR target: master only, cla: yes, comp: aspnetcore-engine, comp: express-engine, comp: hapi-engine

#1112 test: add tests to ensure that document.location is populated
  integration/express-engine/e2e/helloworld-spec.ts
  integration/express-engine/src/helloworld/hello-world.component.ts
  integration/express-engine/src/server.ts
  integration/hapi-engine/e2e/helloworld-spec.ts
  integration/hapi-engine/src/helloworld/hello-world.component.ts
  modules/hapi-engine/src/main.ts
Labels: P1: required, PR action: review, PR target: master only, cla: yes, comp: express-engine

#1111 fix(readme): use circle ci build badge, update img url, add socketengine
  README.md
Labels: PR action: merge, PR state: LGTM, PR target: master only, cla: yes
