Repository angular/universal, pull requests merged in 2018-08, with the labels that each got.

#999 feat(socket-engine): introduce package
  WORKSPACE
  modules/socket-engine/BUILD.bazel
  modules/socket-engine/README.md
  modules/socket-engine/index.ts
  modules/socket-engine/package.json
  modules/socket-engine/public_api.ts
  modules/socket-engine/spec/index.spec.ts
  modules/socket-engine/src/main.ts
  yarn.lock
Labels: PR action: cleanup, PR action: review, PR target: master only, cla: yes, comp: socket-engine

#1056 fix(express-engine): add server configuration to schematics
  modules/express-engine/schematics/README.md
  modules/express-engine/schematics/install/files/root/__serverFileName@stripTsExtension__.ts
  modules/express-engine/schematics/install/index.ts
Labels: PR action: review, PR target: master only, cla: yes, comp: express-engine

#1060 build: publish only ng_package-s tagged with 'release'
  modules/aspnetcore-engine/BUILD.bazel
  modules/common/BUILD.bazel
  modules/express-engine/BUILD.bazel
  modules/hapi-engine/BUILD.bazel
  modules/module-map-ngfactory-loader/BUILD.bazel
  modules/socket-engine/BUILD.bazel
  publish-next.sh
  publish.sh
Labels: PR action: review, PR target: master only, cla: yes, comp: build
