Repository angular/universal, pull requests merged in 2019-11, with the labels that each got.

#1326 fix(common): always pass `skipInstall` to `universal` schematic
  modules/common/schematics/add/index.ts
  modules/express-engine/schematics/install/index.spec.ts
  modules/hapi-engine/schematics/install/index.spec.ts
Labels: PR target: master-only, cla: yes, comp: common

#1323 feat(builders): implement ssr-dev-server
  integration/express-engine-ivy/angular.json
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/angular.json
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/angular.json
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/angular.json
  integration/hapi-engine-ve/package.json
  modules/builders/BUILD.bazel
  modules/builders/src/ssr-dev-server/index.ts
Labels: PR target: master-only, cla: yes, comp: builders

#1333 build: update to version
  package.json
  yarn.lock
Labels: PR target: master-only, cla: yes

#1330 feat(builders): browser-sync for ssr-dev-server
  integration/express-engine-ivy/angular.json
  integration/express-engine-ivy/e2e/protractor.conf.js
  integration/express-engine-ivy/e2e/src/app.e2e-spec.ts
  integration/express-engine-ivy/e2e/src/util.ts
  integration/express-engine-ivy/package.json
  integration/express-engine-ve/angular.json
  integration/express-engine-ve/e2e/src/app.e2e-spec.ts
  integration/express-engine-ve/package.json
  integration/hapi-engine-ivy/angular.json
  integration/hapi-engine-ivy/e2e/protractor.conf.js
  integration/hapi-engine-ivy/e2e/src/app.e2e-spec.ts
  integration/hapi-engine-ivy/e2e/src/util.ts
  integration/hapi-engine-ivy/package.json
  integration/hapi-engine-ve/angular.json
  integration/hapi-engine-ve/e2e/src/app.e2e-spec.ts
  integration/hapi-engine-ve/package.json
  modules/builders/BUILD.bazel
  modules/builders/package.json
  modules/builders/src/ssr-dev-server/index.ts
  modules/builders/src/ssr-dev-server/schema.json
  modules/builders/src/ssr-dev-server/schema.ts
  modules/builders/src/ssr-dev-server/utils.ts
  package.json
  yarn.lock
Labels: PR target: master-only, cla: yes, comp: builders

#1342 fix(common): add `@nguniversal/builders` configuration to angular wor…
  modules/common/schematics/add/index.spec.ts
  modules/common/schematics/add/index.ts
  modules/express-engine/schematics/install/index.ts
  modules/hapi-engine/schematics/install/index.ts
Labels: PR target: master-only, cla: yes
